<main class="container mx-auto p-4 overflow-x-hidden bg-base-300">
  <section class="flex flex-col items-center justify-center min-h-screen">
    <div class="flex flex-col items-center gap-12 my-auto">
      <div class="flex flex-col items-center gap-2">
        <i class="bx bx-bullseye text-3xl lg:text-5xl"></i>
        <h1 class="text-3xl lg:text-5xl font-extrabold text-center text-balance">
          Seu rastreador de vagas pra TI no Brasil
        </h1>
      </div>

      <p class="py-2 text-center lg:w-1/2 text-balance">
        Descubra diariamente quais vagas estão sendo publicadas, quais delas dão match com você,
        quais as tecnologias mais requisitadas e muito mais
      </p>

      <button
        (click)="scrollTo(jobSourceSelector)"
        class="btn btn-lg btn-primary rounded-full w-full lg:w-1/4"
      >
        Ver vagas
      </button>

      <div class="flex flex-col lg:flex-row justify-evenly w-3/4 gap-4 lg:mt-16">
        <div class="flex gap-2 p-4 bg-base-200 rounded">
          <i class="bx bxs-check-square"></i>
          <p>Open-source</p>
        </div>

        <div class="flex gap-2 p-4 bg-base-200 rounded">
          <i class="bx bxs-check-square"></i>
          <p>Vagas do LinkedIn, Gupy e GitHub</p>
        </div>

        <div class="flex gap-2 p-4 bg-base-200 rounded">
          <i class="bx bxs-check-square"></i>
          <p>Atualizações diárias</p>
        </div>
      </div>
    </div>
  </section>

  <section class="flex flex-col items-center justify-center gap-8 my-16">
    <div class="flex flex-col gap-8 lg:w-3/4">
      <div class="flex flex-col rounded gap-4">
        <div class="flex items-start gap-2 text-2xl lg:text-4xl font-bold">
          <i class="bx bx-search-alt text-success text-3xl lg:text-4xl"></i>
          <h2 class="text-success">Busca automática de vagas</h2>
        </div>

        <p class="">Defina parâmetros do seu interesse e veja quais vagas dão match com você!</p>
      </div>

      <div class="mockup-window bg-base-300 border border-2 border-success p-2 mx-auto">
        <img src="../../assets/easy_search.png" class="rounded-lg" alt="Hi" />
      </div>
    </div>
  </section>

  <section class="flex flex-col items-center justify-center mt-16">
    <div class="flex flex-col gap-8 lg:w-3/4">
      <div class="flex flex-col rounded gap-4">
        <div class="flex items-start gap-2 text-2xl lg:text-4xl font-bold">
          <i class="bx bxs-bar-chart-alt-2 text-primary text-3xl lg:text-4xl"></i>
          <h2 class="text-primary">Vagas por dia, mês e ano</h2>
        </div>

        <p class="text-pretty">
          Veja quantas vagas foram publicadas por dia, mês e ano e visualize as oscilações do
          mercado de vagas.
        </p>
      </div>

      <div class="mockup-window bg-base-300 border border-2 border-primary p-2">
        <img src="../../assets/comparison.png" class="rounded-lg" alt="Hi" />
      </div>
    </div>
  </section>

  <section class="flex flex-col items-center justify-center mt-16">
    <div class="flex flex-col gap-8 lg:w-3/4">
      <div class="flex flex-col rounded gap-4">
        <div class="flex items-start gap-2 text-2xl lg:text-4xl font-bold">
          <i class="bx bx-text text-accent text-3xl lg:text-4xl"></i>
          <h2 class="text-accent">Mapeamento de palavras-chave</h2>
        </div>

        <p>
          Toda vaga tem seu conteúdo mapeado por palavras-chave para facilitar a busca de vagas de
          interesse do usuário.
        </p>
      </div>

      <div class="mockup-window bg-base-300 border border-2 border-accent p-2 mx-auto">
        <img src="../../assets/overview.png" class="rounded-lg" alt="Hi" />
      </div>
    </div>
  </section>

  <section class="flex flex-col items-center justify-center gap-8 my-16">
    <div class="flex flex-col gap-8 lg:w-3/4">
      <div class="flex flex-col rounded gap-4">
        <div class="flex items-start gap-2 text-2xl lg:text-4xl font-bold">
          <i class="bx bx-list-ol text-secondary text-3xl lg:text-4xl"></i>
          <h2 class="text-secondary">Rankeamento de informações</h2>
        </div>

        <p class="">
          Veja quais tecnologias são mais requisitadas, quais cidades possuem mais vagas e diversas
          outras informações.
        </p>
      </div>

      <div class="mockup-window bg-base-300 border border-2 border-secondary p-2 mx-auto">
        <img src="../../assets/ranks.png" class="rounded-lg" alt="Hi" />
      </div>
    </div>
  </section>

  <section #jobSourceSelector class="flex flex-col items-center justify-center min-h-screen w-full">
    <div class="flex flex-col gap-4">
      <h2 class="flex items-center gap-2 text-xl font-bold text-pretty">
        <i class="bx bxs-hand-up"></i>
        <span> Selecione as fontes de vagas do seu interesse </span>
      </h2>

      <a class="text-gray-600 text-xs"
        >Os dados podem levar até <strong>1 minuto</strong> para carregar. Pequenos travamentos são
        esperados.</a
      >

      <vgm-job-source-selector></vgm-job-source-selector>

      <button
        class="btn btn-primary flex items-center mt-4 w-full"
        [ngClass]="{ 'btn-disabled': !(hasOneActiveJobSource$ | async) }"
        [routerLink]="['stats']"
        vgmLoading
      >
        <span
          class="flex items-center gap-2"
          *ngIf="!(hasOneActiveJobSource$ | async); else hasOneActiveJobSourceTemplate"
        >
          <i class="bx bxs-info-circle"></i>
          Adicione uma fonte de vagas para começar</span
        >
        <ng-template #hasOneActiveJobSourceTemplate>
          <i class="bx bx-stats"></i>
          <span> Iniciar análise </span>
        </ng-template>
      </button>
    </div>
  </section>
</main>

<vgm-footer></vgm-footer>
