<main>
  <div class="hero min-h-screen bg-base-300">
    <div class="hero-content flex-col gap-16">
      <div>
        <h1 class="text-5xl font-bold text-center">vagômetro</h1>
        <p class="py-2">rastreador de vagas de TI no Brasil</p>
      </div>

      <div class="flex flex-col gap-4">
        <h2 class="text-lg text-center font-bold text-balance">Selecione as fontes de vagas que você deseja ver</h2>
        <a class="text-gray-600 text-xs text-center">Os dados podem levar até 1 minuto para carregar. Pequenos travamentos são esperados.</a>
        <vgm-job-source-selector></vgm-job-source-selector>
        <button class="btn btn-primary flex items-center mt-4" [ngClass]="{ 'btn-disabled': !(hasOneActiveJobSource$ | async) }" [routerLink]="['stats']">
          <span *ngIf="!(hasOneActiveJobSource$ | async); else hasOneActiveJobSourceTemplate"> Adicione uma fonte de vagas para começar</span>
          <ng-template #hasOneActiveJobSourceTemplate>
            <i class="bx bx-stats"></i>

            <span> Iniciar análise </span>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</main>

<footer class="footer items-center grid-flow-col p-4 bg-base-200 text-neutral-content">
  <aside>
    <p class="flex gap-1">
      mais um projetinho do
      <a class="link" href="https://github.com/leo-holanda" target="_blank">leo-holanda</a>
    </p>
  </aside>
  <nav class="md:place-self-center md:justify-self-end">
    <a class="btn btn-ghost btn-circle" href="https://github.com/leo-holanda/vagometro" target="_blank">
      <i class="bx bxl-github"></i>
    </a>
  </nav>
</footer>
