<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 m-4">
  <div class="flex flex-col gap-4 h-min">
    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-title items-center p-4">
        <i class="bx bxs-home"></i>
        <h1>Ranking de Modalidades</h1>
      </div>

      <div class="card-body max-h-96 overflow-y-auto">
        <ng-container *ngIf="workplacesRank$ | async as workplacesRank; else loading">
          <div class="flex justify-between w-full px-2 text-gray-600">
            <span>Modalidade</span>
            <span>Vagas</span>
          </div>

          <button
            class="btn btn-ghost p-2"
            *ngFor="let workplace of workplacesRank; index as i; trackBy: trackByRankData"
            [ngClass]="{ 'btn-active': selectedWorkplace === workplace.name }"
            (click)="onWorkplaceClick(workplace.name)"
          >
            <div class="w-full flex justify-between">
              <span>{{ i + 1 + ". " + workplace.name }}</span>

              <div class="flex gap-2">
                <span>{{ workplace.count | number }}</span>
                <span class="text-gray-600"
                  >({{ workplace.count / jobsQuantity | percent: "1.1-1" }})</span
                >
              </div>
            </div>

            <progress
              class="progress w-full"
              [value]="workplace.count"
              [max]="jobsQuantity"
            ></progress>
          </button>
        </ng-container>

        <ng-template #loading>
          <div class="flex flex-col w-full gap-4 mt-4">
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300 flex flex-col gap-4 h-min">
      <div class="card-title items-center p-4">
        <i class="bx bxs-calendar"></i>
        <h1>Vagas publicadas ao longo do tempo</h1>
      </div>

      <div class="card-body">
        <vgm-publication-chart [jobs$]="jobsByWorkplace$"></vgm-publication-chart>
      </div>
    </div>

    <vgm-job-postings-comparison [jobs$]="jobsByWorkplace$"></vgm-job-postings-comparison>
  </div>
  <section class="grid grid-cols-1 gap-4">
    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body p-4">
        <h1 class="font-bold text-lg">Sobre vagas na modalidade {{ selectedWorkplace }}</h1>
      </div>
    </div>

    <vgm-rank [rankType]="rankTypes.experience" [jobs$]="jobsByWorkplace$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.technology" [jobs$]="jobsByWorkplace$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.companies" [jobs$]="jobsByWorkplace$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.contractTypes" [jobs$]="jobsByWorkplace$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.education" [jobs$]="jobsByWorkplace$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.languages" [jobs$]="jobsByWorkplace$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.cities" [jobs$]="jobsByWorkplace$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.months" [jobs$]="jobsByWorkplace$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.inclusion" [jobs$]="jobsByWorkplace$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.certification" [jobs$]="jobsByWorkplace$"></vgm-rank>
  </section>
</div>

<div class="divider"></div>

<div class="flex items-center justify-center mb-4">
  <div class="card card-bordered card-compact w-full lg:w-1/2 bg-base-300">
    <div class="card-title justify-between p-4">
      <h1>Vagas consideradas nos dados acima</h1>
      <span>Total: {{ ((jobsByWorkplace$ | async) || []).length }} vagas</span>
    </div>

    <div class="card-body overflow-y-hidden">
      <vgm-job-list [jobs$]="jobsByWorkplace$"></vgm-job-list>
    </div>
  </div>
</div>
