<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 m-4 h-full">
  <div class="flex flex-col gap-4 h-min">
    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-title p-4">
        <i class="bx bxs-certification"></i>
        <h1>Rank de certificação</h1>
      </div>

      <div class="card-body gap-2 max-h-96 overflow-y-auto">
        <ng-container *ngIf="certificationsRank$ | async as certificationsRank; else loading">
          <div class="flex justify-between w-full px-2 text-gray-600">
            <span>Certificação</span>
            <span>Vagas</span>
          </div>

          <button
            class="btn p-2"
            *ngFor="
              let certificationStatus of certificationsRank;
              index as i;
              trackBy: trackByRankData
            "
            [ngClass]="{ 'btn-primary': selectedCertificationStatus === certificationStatus.name }"
            (click)="onCertificationStatusClick(certificationStatus.name)"
          >
            <div class="w-full flex justify-between">
              <span>{{ i + 1 + ". " + certificationStatus.name }}</span>
              <div class="flex gap-2">
                <span>{{ certificationStatus.count | number }}</span>
                <span class="text-gray-600"
                  >({{ certificationStatus.count / jobsQuantity | percent: "1.1-1" }})</span
                >
              </div>
            </div>

            <progress
              class="progress w-full"
              [value]="certificationStatus.count"
              [max]="jobsQuantity"
            ></progress>
          </button>
        </ng-container>

        <ng-template #loading>
          <div class="flex flex-col w-full gap-4 mt-4">
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300 flex flex-col gap-4 h-min">
      <div class="card-title items-center p-4">
        <i class="bx bxs-calendar"></i>
        <h1>Vagas com status "{{ selectedCertificationStatus }}" publicadas ao longo do tempo</h1>
      </div>

      <div class="card-body">
        <vgm-publication-chart [jobs$]="jobsByCertificationStatus$"></vgm-publication-chart>
      </div>
    </div>

    <vgm-job-postings-comparison [jobs$]="jobsByCertificationStatus$"></vgm-job-postings-comparison>
  </div>

  <div class="grid grid-cols-1 gap-4">
    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body">
        <div class="card-title p-4">
          <h1>Sobre as vagas com status "{{ selectedCertificationStatus }}"</h1>
        </div>
      </div>
    </div>

    <vgm-rank [rankType]="rankTypes.experience" [jobs$]="jobsByCertificationStatus$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.workplace" [jobs$]="jobsByCertificationStatus$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.technology" [jobs$]="jobsByCertificationStatus$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.companies" [jobs$]="jobsByCertificationStatus$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.contractTypes" [jobs$]="jobsByCertificationStatus$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.inclusion" [jobs$]="jobsByCertificationStatus$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.cities" [jobs$]="jobsByCertificationStatus$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.education" [jobs$]="jobsByCertificationStatus$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.months" [jobs$]="jobsByCertificationStatus$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.languages" [jobs$]="jobsByCertificationStatus$"></vgm-rank>
  </div>
</div>

<div class="divider"></div>

<div class="flex items-center justify-center mb-4">
  <div class="card card-bordered card-compact w-full lg:w-1/2 bg-base-300">
    <div class="card-title justify-between p-4">
      <h1>Vagas consideradas nos dados acima</h1>
      <span>Total: {{ ((jobsByCertificationStatus$ | async) || []).length }} vagas</span>
    </div>

    <div class="card-body overflow-y-hidden">
      <vgm-job-list [jobs$]="jobsByCertificationStatus$"></vgm-job-list>
    </div>
  </div>
</div>
