<div class="flex align-center justify-center flex-col mb-4 gap-4">
  <vgm-job-count></vgm-job-count>
  <vgm-publication-chart></vgm-publication-chart>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 m-4">
    <vgm-rank [rankType]="'experience'" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="'workplace'" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="'technology'" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="'companies'" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="'contractTypes'" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="'inclusion'" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="'cities'" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="'education'" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="'months'" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="'languages'" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="'certification'" [rankSize]="5"></vgm-rank>
  </div>

  <div class="divider"></div>

  <div class="flex items-center justify-center">
    <div class="card card-bordered card-compact w-full lg:w-1/2 bg-base-300">
      <div class="card-title justify-between p-4">
        <h1>Vagas consideradas nos dados acima</h1>
        <span>Total: {{ ((jobs$ | async) || []).length }} vagas</span>
      </div>

      <div class="card-body overflow-y-hidden">
        <vgm-job-list [jobs$]="jobs$"></vgm-job-list>
      </div>
    </div>
  </div>
</div>
