<div class="flex align-center justify-center flex-col mb-4 gap-4">
  <vgm-job-count></vgm-job-count>
  <vgm-publication-chart></vgm-publication-chart>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 m-4">
    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-user-detail"></i>
            <h2 class="card-title">Rank de Experiência</h2>
          </div>
        </div>

        <vgm-experience-levels-rank [rankSize]="5"></vgm-experience-levels-rank>

        <div class="card-actions mt-auto w-full">
          <button class="btn btn-neutral w-full" [routerLink]="['/stats/niveis']">
            <i class="bx bx-search"></i>
            <span>Ver detalhes</span>
          </button>
        </div>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-home"></i>
            <h2 class="card-title">Rank de Modalidades</h2>
          </div>
        </div>

        <vgm-workplace-rank></vgm-workplace-rank>

        <div class="card-actions mt-auto w-full">
          <button class="btn btn-neutral w-full" [routerLink]="['/stats/modalidades']">
            <i class="bx bx-search"></i>
            <span>Ver detalhes</span>
          </button>
        </div>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-chip"></i>
            <h2 class="card-title">Rank de Tecnologias</h2>
          </div>
        </div>

        <vgm-keywords-rank [rankSize]="5"></vgm-keywords-rank>

        <div class="card-actions mt-auto w-full">
          <button class="btn btn-neutral w-full" [routerLink]="['/stats/tecnologias']">
            <i class="bx bx-search"></i>
            <span>Ver detalhes</span>
          </button>
        </div>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-business"></i>
            <h2 class="card-title">Rank de Empresas</h2>
          </div>
        </div>

        <vgm-companies-rank [rankSize]="5"></vgm-companies-rank>

        <div class="card-actions mt-auto w-full">
          <button class="btn btn-neutral w-full" [routerLink]="['/stats/empresas']">
            <i class="bx bx-search"></i>
            <span>Ver detalhes</span>
          </button>
        </div>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-briefcase"></i>
            <h2 class="card-title">Rank de Tipos</h2>
          </div>
        </div>

        <vgm-type-rank [rankSize]="5"></vgm-type-rank>

        <div class="card-actions mt-auto w-full">
          <button class="btn btn-neutral w-full" [routerLink]="['/stats/tipos']">
            <i class="bx bx-search"></i>
            <span>Ver detalhes</span>
          </button>
        </div>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-heart"></i>
            <h2 class="card-title">Rank de Inclusão</h2>
          </div>
        </div>

        <vgm-inclusion-rank [rankSize]="5"></vgm-inclusion-rank>

        <div class="card-actions mt-auto w-full">
          <button class="btn btn-neutral w-full" [routerLink]="['/stats/inclusao']">
            <i class="bx bx-search"></i>
            <span>Ver detalhes</span>
          </button>
        </div>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-map"></i>
            <h2 class="card-title">Rank de Cidades</h2>
          </div>
        </div>

        <vgm-cities-rank [rankSize]="5"></vgm-cities-rank>

        <span class="text-xs text-slate-500"> Na Gupy, considera apenas vagas presenciais e híbridas </span>

        <div class="card-actions mt-auto w-full">
          <button class="btn btn-neutral w-full" [routerLink]="['/stats/cidades']">
            <i class="bx bx-search"></i>
            <span>Ver detalhes</span>
          </button>
        </div>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-graduation"></i>
            <h2 class="card-title">Rank de Educação</h2>
          </div>
          <div class="flex items-center gap-2">
            <div
              class="tooltip flex items-center"
              data-tip="Esse rank é gerado por uma abordagem simples de match de termos relacionados ao ensino superior que podem se confundir com os benefícios da vaga. Recomenda-se cautela ao tirar conclusões."
            >
              <i class="bx bxs-error"></i>
            </div>
          </div>
        </div>

        <vgm-education-rank [rankSize]="5"></vgm-education-rank>

        <div class="card-actions mt-auto w-full">
          <button class="btn btn-neutral w-full" [routerLink]="['/stats/educacao']">
            <i class="bx bx-search"></i>
            <span>Ver detalhes</span>
          </button>
        </div>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-calendar"></i>
            <h2 class="card-title">Meses com mais vagas publicadas</h2>
          </div>
        </div>

        <vgm-months-rank [rankSize]="5"></vgm-months-rank>

        <div class="card-actions mt-auto w-full">
          <button class="btn btn-neutral w-full" [routerLink]="['/stats/meses']">
            <i class="bx bx-search"></i>
            <span>Ver detalhes</span>
          </button>
        </div>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bx-globe"></i>
            <h2 class="card-title">Rank de Idiomas Estrangeiros</h2>
          </div>
        </div>

        <vgm-languages-rank [rankSize]="5"></vgm-languages-rank>

        <div class="card-actions mt-auto w-full">
          <button class="btn btn-neutral w-full" [routerLink]="['/stats/idiomas']">
            <i class="bx bx-search"></i>
            <span>Ver detalhes</span>
          </button>
        </div>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-certification"></i>
            <h2 class="card-title">Rank de Certificação</h2>
          </div>
        </div>

        <vgm-certifications-rank [rankSize]="5"></vgm-certifications-rank>

        <div class="card-actions mt-auto w-full">
          <button class="btn btn-neutral w-full" [routerLink]="['/stats/certificacoes']">
            <i class="bx bx-search"></i>
            <span>Ver detalhes</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="flex items-center justify-center">
    <div class="card card-bordered card-compact w-full lg:w-1/2 bg-base-300">
      <div class="card-title justify-between p-4">
        <h1>Vagas consideradas nos dados acima</h1>
        <span>Total: {{ ((jobs$ | async) || []).length }} vagas</span>
      </div>

      <div class="card-body overflow-y-hidden">
        <vgm-job-list [jobs$]="jobs$"></vgm-job-list>
      </div>
    </div>
  </div>
</div>
