<div class="flex align-center justify-center flex-col mb-4 gap-4">
  <vgm-job-count></vgm-job-count>

  <section class="m-4">
    <vgm-publication-chart></vgm-publication-chart>
  </section>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 m-4">
    <vgm-rank [rankType]="rankTypes.experience" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="rankTypes.workplace" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="rankTypes.technology" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="rankTypes.companies" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="rankTypes.contractTypes" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="rankTypes.inclusion" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="rankTypes.cities" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="rankTypes.education" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="rankTypes.months" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="rankTypes.languages" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="rankTypes.certification" [rankSize]="5"></vgm-rank>
    <vgm-rank [rankType]="rankTypes.repostings" [rankSize]="5"></vgm-rank>
  </div>

  <div class="divider"></div>

  <div class="flex items-center justify-center">
    <div class="card card-bordered card-compact w-full lg:w-1/2 bg-base-300">
      <div class="card-title justify-between p-4">
        <h1>Vagas consideradas nos dados acima</h1>
        <span>Total: {{ ((jobs$ | async) || []).length }} vagas</span>
      </div>

      <div class="card-body overflow-y-hidden">
        <vgm-job-list [jobs$]="jobs$"></vgm-job-list>
      </div>
    </div>
  </div>
</div>
