<ng-container *ngIf="jobs$ | async; else loading">
  <section class="flex justify-end">
    <button class="btn" (click)="filterAndSortModal.showModal()">
      Filtrar e ordenar
    </button>
    <dialog #filterAndSortModal class="modal">
      <div class="modal-box flex flex-col gap-4">
        <span>*Funcionalidade ainda em desenvolvimento</span>

        <div>
          <button
            (mouseenter)="sortIconShowMap.jobTitle = true"
            (mouseleave)="sortIconShowMap.jobTitle = false"
            (click)="sortJobs('title')"
            class="btn btn-ghost rounded-b-none w-full flex items-center justify-between flex-nowrap"
          >
            <span>Título</span>
            <i
              *ngIf="sortIconShowMap.jobTitle"
              class="bx"
              [ngClass]="{
                'bx-sort-up': sortOrder == 'asc',
                'bx-sort-down': sortOrder == 'desc'
              }"
            ></i>
          </button>
          <input
            [(ngModel)]="filters.jobTitle"
            (ngModelChange)="filterJobs()"
            id="jobTitle"
            name="jobTitle"
            type="text"
            class="input input-bordered input-sm rounded-t-none w-full"
          />
        </div>

        <div>
          <button
            (mouseenter)="sortIconShowMap.companyName = true"
            (mouseleave)="sortIconShowMap.companyName = false"
            (click)="sortJobs('companyName')"
            class="btn btn-ghost rounded-b-none w-full flex items-center justify-between flex-nowrap"
          >
            <span>Empresa</span>
            <i
              *ngIf="sortIconShowMap.companyName"
              class="bx"
              [ngClass]="{
                'bx-sort-up': sortOrder == 'asc',
                'bx-sort-down': sortOrder == 'desc'
              }"
            ></i>
          </button>
          <input
            [(ngModel)]="filters.companyName"
            (ngModelChange)="filterJobs()"
            id="companyName"
            name="companyName"
            type="text"
            class="input input-bordered input-sm rounded-t-none w-full"
          />
        </div>

        <div>
          <button
            (mouseenter)="sortIconShowMap.experienceLevel = true"
            (mouseleave)="sortIconShowMap.experienceLevel = false"
            (click)="sortJobs('experienceLevels')"
            class="btn btn-ghost rounded-b-none w-full flex items-center justify-between flex-nowrap"
          >
            <span>Nível de experiência</span>
            <i
              *ngIf="sortIconShowMap.experienceLevel"
              class="bx"
              [ngClass]="{
                'bx-sort-up': sortOrder == 'asc',
                'bx-sort-down': sortOrder == 'desc'
              }"
            ></i>
          </button>
          <select
            [(ngModel)]="filters.experienceLevel"
            (ngModelChange)="filterJobs()"
            id="experienceLevel"
            name="experienceLevel"
            class="select select-bordered select-sm rounded-t-none w-full"
          >
            <option value=""></option>
            <option *ngFor="let experienceLevel of experienceLevels | keyvalue">
              {{ experienceLevel.value }}
            </option>
          </select>
        </div>

        <div>
          <button
            (mouseenter)="sortIconShowMap.workplaceType = true"
            (mouseleave)="sortIconShowMap.workplaceType = false"
            (click)="sortJobs('workplaceTypes')"
            class="btn btn-ghost rounded-b-none w-full flex items-center justify-between flex-nowrap"
          >
            <span>Modalidade</span>
            <i
              *ngIf="sortIconShowMap.workplaceType"
              class="bx"
              [ngClass]="{
                'bx-sort-up': sortOrder == 'asc',
                'bx-sort-down': sortOrder == 'desc'
              }"
            ></i>
          </button>
          <select
            [(ngModel)]="filters.workplaceType"
            (ngModelChange)="filterJobs()"
            id="workplaceType"
            name="workplaceType"
            class="select select-bordered select-sm rounded-t-none w-full"
          >
            <option selected></option>
            <option value="remoto">Remoto</option>
            <option value="híbrido">Híbrido</option>
            <option value="presencial">Presencial</option>
          </select>
        </div>

        <div>
          <button
            (mouseenter)="sortIconShowMap.jobLocation = true"
            (mouseleave)="sortIconShowMap.jobLocation = false"
            (click)="sortJobs('city')"
            class="btn btn-ghost rounded-b-none w-full flex items-center justify-between flex-nowrap"
          >
            <span>Local</span>
            <i
              *ngIf="sortIconShowMap.jobLocation"
              class="bx"
              [ngClass]="{
                'bx-sort-up': sortOrder == 'asc',
                'bx-sort-down': sortOrder == 'desc'
              }"
            ></i>
          </button>
          <input
            [(ngModel)]="filters.jobLocation"
            (ngModelChange)="filterJobs()"
            id="jobLocation"
            name="jobLocation"
            type="text"
            class="input input-bordered input-sm rounded-t-none w-full"
          />
        </div>

        <div>
          <button
            (mouseenter)="sortIconShowMap.jobType = true"
            (mouseleave)="sortIconShowMap.jobType = false"
            (click)="sortJobs('contractTypes')"
            class="btn btn-ghost rounded-b-none w-full flex items-center justify-between flex-nowrap"
          >
            <span>Tipo</span>
            <i
              *ngIf="sortIconShowMap.jobType"
              class="bx"
              [ngClass]="{
                'bx-sort-up': sortOrder == 'asc',
                'bx-sort-down': sortOrder == 'desc'
              }"
            ></i>
          </button>
          <select
            [(ngModel)]="filters.jobType"
            (ngModelChange)="filterJobs()"
            id="jobType"
            name="jobType"
            class="select select-bordered select-sm rounded-t-none w-full"
          >
            <option selected></option>
            <option
              *ngFor="let typeTranslation of gupyContractTypeMap | keyvalue"
              [value]="typeTranslation.key"
            >
              {{ typeTranslation.value }}
            </option>
          </select>
        </div>

        <div>
          <button
            (mouseenter)="sortIconShowMap.publishedDate = true"
            (mouseleave)="sortIconShowMap.publishedDate = false"
            (click)="sortJobs('publishedDate')"
            class="btn btn-ghost rounded-b-none w-full flex items-center justify-between flex-nowrap"
          >
            <span>Data de publicação</span>
            <i
              *ngIf="sortIconShowMap.publishedDate"
              class="bx"
              [ngClass]="{
                'bx-sort-up': sortOrder == 'asc',
                'bx-sort-down': sortOrder == 'desc'
              }"
            ></i>
          </button>
          <input
            [(ngModel)]="filters.publishedDate"
            (ngModelChange)="filterJobs()"
            id="publishedDate"
            name="publishedDate"
            type="date"
            class="input input-bordered input-sm rounded-t-none w-full"
            [max]="inputMaxDate"
          />
        </div>

        <div>
          <button
            (mouseenter)="sortIconShowMap.acceptsDisabledPersons = true"
            (mouseleave)="sortIconShowMap.acceptsDisabledPersons = false"
            (click)="sortJobs('disabilityStatus')"
            class="btn btn-ghost rounded-b-none w-full flex items-center justify-between flex-nowrap"
          >
            <span>PCD</span>
            <i
              *ngIf="sortIconShowMap.acceptsDisabledPersons"
              class="bx"
              [ngClass]="{
                'bx-sort-up': sortOrder == 'asc',
                'bx-sort-down': sortOrder == 'desc'
              }"
            ></i>
          </button>
          <select
            [(ngModel)]="filters.acceptsDisabledPersons"
            (ngModelChange)="filterJobs()"
            id="acceptsDisabledPersons"
            name="acceptsDisabledPersons"
            class="select select-bordered select-sm rounded-t-none w-full"
          >
            <option [value]="undefined" selected></option>
            <option [value]="true">Sim</option>
            <option [value]="false">Não</option>
          </select>
        </div>

        <div class="modal-action">
          <form method="dialog">
            <button class="btn">Voltar</button>
          </form>
        </div>
      </div>
    </dialog>
  </section>

  <section class="mt-4">
    <cdk-virtual-scroll-viewport
      class="virtual-scroll-viewport"
      itemSize="500"
      minBufferPx="1000"
      maxBufferPx="2000"
      [appendOnly]="true"
    >
      <div
        class="card card-bordered card-compact bg-base-100 -xl mr-4"
        *cdkVirtualFor="let job of filteredJobs; trackBy: trackByJobId"
      >
        <header class="card-title flex flex-col items-start pt-4 px-4">
          <div>
            <h1>{{ job.title }}</h1>

            <div class="flex items-center gap-2">
              <i class="bx bxs-business"></i>

              <a
                *ngIf="job.companyUrl; else jobWithoutCompanyUrlTemplate"
                class="text-slate-300 text-sm link"
                [href]="job.companyUrl"
                >{{ job.companyName }}</a
              >

              <ng-template #jobWithoutCompanyUrlTemplate>
                <a class="text-slate-300 text-sm">{{ job.companyName }}</a>
              </ng-template>
            </div>
          </div>
        </header>

        <div class="card-body">
          <div
            *ngIf="job.keywords.length > 0"
            class="flex flex-wrap pb-4 gap-2"
          >
            <div
              class="badge badge-neutral"
              *ngFor="let keyword of job.keywords"
            >
              {{ keyword }}
            </div>
          </div>

          <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
            <div>
              <div class="flex items-center gap-1 mb-1">
                <i class="bx bxs-user-detail"></i>
                <span> Nível de experiência </span>
              </div>

              <div
                *ngIf="job.experienceLevels.length > 0"
                class="flex flex-wrap gap-2"
              >
                <div
                  class="badge badge-neutral"
                  *ngFor="let experienceLevel of job.experienceLevels"
                >
                  {{ experienceLevel }}
                </div>
              </div>
            </div>

            <div>
              <div class="flex items-center gap-1 mb-1">
                <i class="bx bxs-home"></i>
                <span>Modalidade</span>
              </div>

              <div
                *ngIf="job.workplaceTypes.length > 0"
                class="flex flex-wrap gap-2"
              >
                <div
                  class="badge badge-neutral"
                  *ngFor="let workplaceType of job.workplaceTypes"
                >
                  {{ workplaceType }}
                </div>
              </div>
            </div>

            <div>
              <div class="flex items-center gap-1 mb-1">
                <i class="bx bxs-briefcase"></i>
                <span>Tipo</span>
              </div>

              <div class="flex items-center gap-2">
                <div
                  class="badge badge-neutral"
                  *ngFor="let contractType of job.contractTypes"
                >
                  {{ contractType }}
                </div>
              </div>
            </div>

            <div>
              <div class="flex items-center gap-1 mb-1">
                <i class="bx bxs-map"></i>
                <span>Local</span>
              </div>

              <span class="font-bold">
                {{
                  job.city
                    ? job.city + ", " + (job.state | stateAbbreviation)
                    : "N/A"
                }}
              </span>
            </div>

            <div>
              <div class="flex items-center gap-1 mb-1">
                <i class="bx bxs-calendar"></i>
                <span>Data de publicação</span>
              </div>

              <span class="font-bold">
                {{ job.publishedDate | date : "dd/MM/yyyy" }}
              </span>
            </div>

            <div>
              <div class="flex items-center gap-1 mb-1">
                <i class="bx bx-accessibility"></i>
                <span>Inclusão</span>
              </div>

              <span class="font-bold">
                {{ job.isOpenToPCD ? "Também para PCD" : "Não-PCD" }}
              </span>
            </div>

            <div>
              <div class="flex items-center gap-1 mb-1">
                <i class="bx bxs-graduation"></i>
                <span>Menciona ensino superior?</span>
              </div>

              <span class="font-bold">
                {{
                  job.educationTerms.length > 0 ||
                  job.educationalLevelTerms.length > 0
                    ? "Sim"
                    : "Não"
                }}
              </span>
            </div>

            <div>
              <div class="flex items-center gap-1 mb-1">
                <i class="bx bx-globe"></i>
                <span>Idiomas</span>
              </div>

              <ng-container
                *ngIf="job.languages.length > 0; else emptyLanguagesTemplate"
              >
                <div class="flex items-center gap-2">
                  <div
                    class="badge badge-neutral"
                    *ngFor="let language of job.languages"
                  >
                    {{ language }}
                  </div>
                </div>
              </ng-container>

              <ng-template #emptyLanguagesTemplate>
                <span class="font-bold">Não</span>
              </ng-template>
            </div>
          </div>

          <div class="card-actions mt-2">
            <a
              class="flex items-center gap-2 w-full"
              [href]="job.jobUrl"
              target="_blank"
            >
              <button class="btn w-full">
                <i class="bx bx-link-external"></i>
                <span>Acessar vaga</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </section>
</ng-container>

<ng-template #loading>
  <div class="flex flex-col w-full gap-4 mt-4">
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
  </div>
</ng-template>
