.virtual-scroll-viewport {
  height: 180dvh;

  @media (min-width: 768px) {
    height: 100dvh;
  }
}

:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header-row {
  top: -16px;
}
