<div class="container mx-auto overflow-x-hidden">
  <vgm-header></vgm-header>
  <router-outlet></router-outlet>
</div>

<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <vgm-countdown></vgm-countdown>

  <aside>
    <p class="flex gap-2">
      Made with
      <img
        alt="love"
        src="https://icongr.am/octicons/heart-fill.svg?size=18&color=eec170"
      />
      by
      <a class="link" href="https://github.com/leo-holanda" target="_blank"
        >Leo</a
      >
    </p>
  </aside>
</footer>

<dialog #jobSourcesModal class="modal">
  <div class="modal-box flex flex-col gap-2">
    <header class="flex items-center gap-2 mb-4">
      <i class="bx bx-data"></i>
      <h1 class="text-lg font-bold">
        Selecione quais fontes de vagas você deseja ver
      </h1>
    </header>

    <vgm-job-source-selector></vgm-job-source-selector>

    <div class="flex items-center gap-4 pt-4">
      <i class="bx bxs-info-circle"></i>
      <div class="flex flex-col gap-2">
        <span class="text-xs text-slate-500"
          >O app está com alguns problemas de performance.
        </span>
        <span class="text-xs text-slate-500"
          >Os dados podem levar até 1 minuto para carregar.
        </span>
        <span class="text-xs text-slate-500"
          >Pequenos travamentos são esperados.
        </span>
        <span class="text-xs text-slate-500"
          >Aprimoramentos serão acrescentados na próxima versão.</span
        >
      </div>
    </div>

    <div class="modal-action w-full">
      <form method="dialog" class="w-full">
        <button
          class="btn w-full"
          [ngClass]="{ 'btn-disabled': !(hasOneJobSourceActive$ | async) }"
        >
          Fechar
        </button>
      </form>
    </div>
  </div>
</dialog>
