<ng-container *ngIf="workplaceRank$ | async as workplaceRank; else loading">
  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Modalidade</th>
          <th>Vagas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workplace of workplaceRank; index as i">
          <th>{{ i + 1 }}</th>
          <td>{{ workplace.type | titlecase }}</td>
          <td>{{ workplace.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-template #loading>
  <div class="flex items-center justify-center">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
</ng-template>
