<ng-container *ngIf="selectedKeyword; else unselectedKeywordTemplate">
  <main class="grid grid-cols-1 lg:grid-cols-2 gap-4 m-4 h-full">
    <section class="flex flex-col gap-4 h-min">
      <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
        <header class="card-title items-center justify-between flex-wrap p-4">
          <div class="flex items-center gap-2">
            <i class="bx bxs-chip"></i>
            <h1>Vagas que pedem {{ selectedKeyword }} também pedem...</h1>
          </div>
          <button (click)="resetSelectedKeyword()" class="btn">
            Escolher outra tecnologia
          </button>
        </header>

        <section class="card-body max-h-96 overflow-y-auto">
          <ng-container
            *ngIf="keywordsRank$ | async as keywordsRank; else loading"
          >
            <button
              class="btn btn-ghost p-2"
              *ngFor="
                let keyword of keywordsRank;
                index as i;
                trackBy: trackByKeyword
              "
              [ngClass]="{ 'btn-active': selectedKeyword == keyword.word }"
              (click)="onKeywordClick(keyword.word)"
            >
              <div class="w-full flex justify-between">
                <span>{{ i + 1 + ". " + keyword.word }}</span>
                <span>{{ keyword.count }}</span>
              </div>
              <progress
                class="progress w-full"
                [value]="keyword.count"
                [max]="keywordsQuantity"
              ></progress>
            </button>
          </ng-container>

          <ng-template #loading>
            <div class="flex flex-col w-full gap-4 mt-4">
              <div class="skeleton h-8 w-full"></div>
              <div class="skeleton h-8 w-full"></div>
              <div class="skeleton h-8 w-full"></div>
              <div class="skeleton h-8 w-full"></div>
              <div class="skeleton h-8 w-full"></div>
            </div>
          </ng-template>
        </section>
      </div>

      <div
        class="card card-bordered card-compact w-full bg-base-100 shadow-xl flex flex-col gap-4 h-min"
      >
        <header class="card-title items-center p-4">
          <i class="bx bxs-calendar"></i>
          <h1>Vagas publicadas ao longo do tempo</h1>
        </header>

        <section class="card-body">
          <vgm-publication-chart
            [jobs$]="jobsByKeyword$"
          ></vgm-publication-chart>
        </section>
      </div>
    </section>

    <section
      class="card card-bordered card-compact w-full bg-base-100 shadow-xl"
    >
      <header class="card-title p-4">
        <h1>Sobre as vagas que pedem {{ selectedKeyword }}</h1>
      </header>

      <section class="card-body">
        <section>
          <div class="flex items-center gap-2 mb-2">
            <i class="bx bxs-business"></i>
            <h3>Empresas que mais contratam</h3>
          </div>
          <vgm-companies-rank [jobs$]="jobsByKeyword$"></vgm-companies-rank>
        </section>

        <div class="divider"></div>

        <section>
          <div class="flex items-center gap-2 mb-2">
            <i class="bx bxs-home"></i>
            <h3>Modalidades mais frequentes</h3>
          </div>
          <vgm-workplace-rank [jobs$]="jobsByKeyword$"></vgm-workplace-rank>
        </section>

        <div class="divider"></div>

        <section>
          <div class="flex items-center gap-2 mb-2">
            <i class="bx bxs-user-detail"></i>
            <h3>Níveis de experiência mais requisitados</h3>
          </div>
          <vgm-experience-levels-rank
            [jobs$]="jobsByKeyword$"
          ></vgm-experience-levels-rank>
        </section>

        <div class="divider"></div>

        <section>
          <div class="flex items-center gap-2 mb-2">
            <i class="bx bxs-briefcase"></i>
            <h3>Tipos de vagas</h3>
          </div>
          <vgm-type-rank [jobs$]="jobsByKeyword$"></vgm-type-rank>
        </section>
      </section>
    </section>
  </main>

  <div class="divider"></div>

  <section class="flex items-center justify-center mb-4">
    <div
      class="card card-bordered card-compact w-full lg:w-1/2 bg-base-100 shadow-xl"
    >
      <header class="card-title justify-between p-4">
        <h1>Vagas consideradas nos dados acima</h1>
        <span>Total: {{ ((jobsByKeyword$ | async) || []).length }} vagas</span>
      </header>

      <div class="card-body overflow-y-hidden">
        <vgm-job-list [jobs$]="jobsByKeyword$"></vgm-job-list>
      </div>
    </div>
  </section>
</ng-container>

<ng-template #unselectedKeywordTemplate>
  <main class="h-full flex items-center justify-center mb-8">
    <section
      class="card card-bordered card-compact w-full lg:w-1/2 bg-base-100 shadow-xl"
    >
      <header class="card-title items-center p-4">
        <i class="bx bxs-hand-up"></i>
        <h1>Selecione uma tecnologia para acessar as vagas</h1>
      </header>

      <label class="form-control w-full px-4 pr-6 pb-2">
        <div class="label">
          <span class="label-text">Buscar por tecnologia</span>
        </div>
        <input
          [(ngModel)]="keywordSearchString"
          (ngModelChange)="filterKeywords()"
          id="keywordSearchString"
          name="keywordSearchString"
          type="text"
          placeholder="JavaScript"
          class="input input-bordered w-full"
        />
      </label>

      <section class="card-body max-h-96 overflow-y-auto">
        <ng-container
          *ngIf="filteredKeywords$ | async as keywordsRank; else loading"
        >
          <button
            class="btn btn-ghost p-2"
            *ngFor="
              let keyword of keywordsRank;
              index as i;
              trackBy: trackByKeyword
            "
            [ngClass]="{ 'btn-active': selectedKeyword == keyword.word }"
            (click)="onKeywordClick(keyword.word)"
          >
            <div class="w-full flex justify-between">
              <span>{{ i + 1 + ". " + keyword.word }}</span>
              <span>{{ keyword.count }}</span>
            </div>
            <progress
              class="progress w-full"
              [value]="keyword.count"
              [max]="keywordsQuantity"
            ></progress>
          </button>
        </ng-container>

        <ng-template #loading>
          <div class="flex flex-col w-full gap-4 mt-4">
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
          </div>
        </ng-template>
      </section>
    </section>
  </main>
</ng-template>
