<ng-container
  *ngIf="monthlyComparativeData$ | async as monthlyData; else loading"
>
    <div class="card bg-base-300 w-full">
      <div class="card-body">
        <h2 class="card-title justify-between flex-wrap gap-4">
          <div>
            <i class="bx bxs-chart"></i>
            Comparativo {{ shouldShowMonthly ? "Mensal" : "Anual" }}
          </div>

          <div role="tablist" class="tabs tabs-boxed gap-2">
            <a
              role="tab"
              class="tab"
              [ngClass]="{
                'tab-active': shouldShowMonthly
              }"
              (click)="shouldShowMonthly = true"
              >Ver mensamente</a
            >
            <a
              role="tab"
              class="tab"
              [ngClass]="{
                'tab-active': !shouldShowMonthly
              }"
              (click)="shouldShowMonthly = false"
              >Ver anualmente</a
            >
          </div>
        </h2>

        <div class="overflow-x-auto max-h-96 mt-4">
          <ng-container *ngIf="shouldShowMonthly; else annualDataTemplate">
            <table class="table table-sm table-zebra table-pin-rows">
              <thead>
                <tr>
                  <th>Mês</th>
                  <th>Vagas</th>
                  <th>Diferença</th>
                  <th>Diferença (%)</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let month of monthlyData;
                    index as i;
                    trackBy: trackByMonth
                  "
                >
                  <td>{{ month.name | titlecase }}</td>
                  <td>{{ month.count | number }}</td>
                  <td
                    [ngClass]="{
                      'text-green-500': month.difference > 0,
                      'text-red-500': month.difference < 0
                    }"
                  >
                    {{
                      month.difference > 0
                        ? "+" + (month.difference | number)
                        : (month.difference | number)
                    }}
                  </td>
                  <td
                    [ngClass]="{
                      'text-green-500': month.difference > 0,
                      'text-red-500': month.difference < 0
                    }"
                  >
                    {{
                      (month.differenceAsPercentage > 0
                        ? "+" +
                          (month.differenceAsPercentage | number : "1.2-2")
                        : (month.differenceAsPercentage | number : "1.2-2")) +
                        "%"
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>

          <ng-template #annualDataTemplate>
            <table class="table table-sm table-zebra table-pin-rows">
              <thead>
                <tr>
                  <th>Mês</th>
                  <th>Vagas</th>
                  <th>Diferença</th>
                  <th>Diferença (%)</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let annual of annualComparativeData$ | async;
                    index as i;
                    trackBy: trackByMonth
                  "
                >
                  <td>{{ annual.name | titlecase }}</td>
                  <td>{{ annual.count | number }}</td>
                  <td
                    [ngClass]="{
                      'text-green-500': annual.difference > 0,
                      'text-red-500': annual.difference < 0
                    }"
                  >
                    {{
                      annual.difference > 0
                        ? "+" + (annual.difference | number)
                        : (annual.difference | number)
                    }}
                  </td>
                  <td
                    [ngClass]="{
                      'text-green-500': annual.difference > 0,
                      'text-red-500': annual.difference < 0
                    }"
                  >
                    {{
                      (annual.differenceAsPercentage > 0
                        ? "+" +
                          (annual.differenceAsPercentage | number : "1.2-2")
                        : (annual.differenceAsPercentage | number : "1.2-2")) +
                        "%"
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </div>
      </div>
    </div>
</ng-container>

<ng-template #loading>
  <div class="flex flex-col w-full gap-4 my-4">
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
  </div>
</ng-template>
