<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 m-4 h-full">
  <div class="flex flex-col gap-4 h-min">
    <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
      <div class="card-title items-center p-4">
        <i class="bx bxs-graduation"></i>
        <h1>Rank de Educação</h1>
      </div>

      <div class="card-body max-h-96 overflow-y-auto">
        <ng-container
          *ngIf="educationRank$ | async as educationRank; else loading"
        >
          <button
            class="btn btn-ghost p-2"
            *ngFor="
              let educationTerm of educationRank;
              index as i;
              trackBy: trackByEducationTerm
            "
            [ngClass]="{
              'btn-active': selectedEducationTerm == educationTerm.name
            }"
            (click)="onEducationTermClick(educationTerm.name)"
          >
            <div class="w-full flex justify-between">
              <span>{{ i + 1 + ". " + educationTerm.name }}</span>
              <span>{{ educationTerm.count }}</span>
            </div>
            <progress
              class="progress w-full"
              [value]="educationTerm.count"
              [max]="termFrequency"
            ></progress>
          </button>
        </ng-container>

        <ng-template #loading>
          <div class="flex flex-col w-full gap-4 mt-4">
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
          </div>
        </ng-template>
      </div>
    </div>

    <div
      class="card card-bordered card-compact w-full bg-base-100 shadow-xl flex flex-col gap-4 h-min"
    >
      <div class="card-title items-center p-4">
        <i class="bx bxs-calendar"></i>
        <h1>Vagas publicadas ao longo do tempo</h1>
      </div>

      <div class="card-body">
        <vgm-publication-chart
          [jobs$]="jobsByEducationTerm$"
        ></vgm-publication-chart>
      </div>
    </div>
  </div>

  <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
    <div class="card-body">
      <h1
        *ngIf="
          selectedEducationTerm != 'Não menciona';
          else noMentionTermTemplate
        "
        class="font-bold text-lg mb-4"
      >
        Sobre vagas que mencionam o termo {{ selectedEducationTerm }}
      </h1>

      <ng-template #noMentionTermTemplate>
        <h1 class="font-bold text-lg mb-4">
          Sobre as vagas que não mencionam termos sobre educação
        </h1>
      </ng-template>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-chip"></i>
          <h3>Tecnologias mais frequentes</h3>
        </div>
        <vgm-keywords-rank [jobs$]="jobsByEducationTerm$"></vgm-keywords-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-business"></i>
          <h3>Empresas que mais contratam</h3>
        </div>
        <vgm-companies-rank [jobs$]="jobsByEducationTerm$"></vgm-companies-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-home"></i>
          <h3>Modalidades mais frequentes</h3>
        </div>
        <vgm-workplace-rank [jobs$]="jobsByEducationTerm$"></vgm-workplace-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-user-detail"></i>
          <h3>Níveis de experiência mais requisitados</h3>
        </div>
        <vgm-experience-levels-rank
          [jobs$]="jobsByEducationTerm$"
        ></vgm-experience-levels-rank>
      </section>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="flex items-center justify-center mb-4">
  <div
    class="card card-bordered card-compact w-full lg:w-1/2 bg-base-100 shadow-xl"
  >
    <div class="card-title justify-between p-4">
      <h1>Vagas consideradas nos dados acima</h1>
      <span
        >Total: {{ ((jobsByEducationTerm$ | async) || []).length }} vagas</span
      >
    </div>

    <div class="card-body overflow-y-hidden">
      <vgm-job-list [jobs$]="jobsByEducationTerm$"></vgm-job-list>
    </div>
  </div>
</div>
