<main class="grid grid-cols-1 lg:grid-cols-2 gap-4 m-4 h-full">
  <div class="flex flex-col gap-4 h-min">
    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-title items-center justify-between flex-wrap p-4">
        <div class="flex items-center gap-2">
          <i class="bx bx-refresh"></i>
          <h1>Rank de Repostagens</h1>
        </div>

        <section class="flex flex-col gap-2">
          <div class="flex flex-wrap gap-2">
            <button
              [ngClass]="{
                'btn-active': selectedDataType === repostingsDataTypes.repostingsCount
              }"
              (click)="setDataType(repostingsDataTypes.repostingsCount)"
              class="btn btn-outline"
            >
              Por repostagens
            </button>

            <button
              [ngClass]="{
                'btn-active': selectedDataType === repostingsDataTypes.timeInDaysBetweenRepostings
              }"
              (click)="setDataType(repostingsDataTypes.timeInDaysBetweenRepostings)"
              class="btn btn-outline"
            >
              Por dias entre repostagens
            </button>
          </div>
        </section>
      </div>

      <div class="card-body max-h-96 overflow-y-auto">
        <ng-container *ngIf="repostingsRank$ | async as repostingsRank; else loading">
          <ng-container *ngIf="selectedDataType === repostingsDataTypes.repostingsCount">
            <div class="flex justify-between w-full px-2 text-gray-600">
              <span>Repostagens</span>
              <span>Vagas</span>
            </div>

            <button
              class="btn btn-ghost p-2"
              *ngFor="let repostingCount of repostingsRank; index as i; trackBy: trackByRankData"
              [ngClass]="{ 'btn-active': selectedRepostingCount === +repostingCount.name }"
              (click)="onRepostingCountClick(+repostingCount.name)"
            >
              <div class="w-full flex justify-between">
                <span [ngPlural]="+repostingCount.name">
                  <ng-template ngPluralCase="=0">
                    <span>{{ i + 1 + ". " }} Nenhuma vez</span>
                  </ng-template>

                  <ng-template ngPluralCase="=1">
                    <span>{{ i + 1 + ". " + repostingCount.name + " vez" }}</span>
                  </ng-template>

                  <ng-template ngPluralCase="other">
                    <span>{{ i + 1 + ". " + repostingCount.name + " vezes" }}</span>
                  </ng-template>
                </span>

                <div class="flex gap-2">
                  <span>{{ repostingCount.count | number }}</span>
                  <span class="text-gray-600"
                    >({{ repostingCount.count / jobsCount | percent: "1.1-1" }})</span
                  >
                </div>
              </div>

              <progress
                class="progress w-full"
                [value]="repostingCount.count"
                [max]="jobsCount"
              ></progress>
            </button>
          </ng-container>
        </ng-container>

        <ng-container
          *ngIf="timeBetweenRepostingsRank$ | async as timeBetweenRepostingsRank; else loading"
        >
          <ng-container
            *ngIf="selectedDataType === repostingsDataTypes.timeInDaysBetweenRepostings"
          >
            <div class="flex justify-between w-full px-2 text-gray-600">
              <span>Tempo entre repostagens</span>
              <span>Vagas</span>
            </div>

            <button
              class="btn btn-ghost p-2"
              *ngFor="
                let timeBetweenRepostings of timeBetweenRepostingsRank;
                index as i;
                trackBy: trackByRankData
              "
              [ngClass]="{
                'btn-active': selectedTimeBetweenReposting === +timeBetweenRepostings.name
              }"
              (click)="onTimeBetweenRepostingsClick(+timeBetweenRepostings.name)"
            >
              <div class="w-full flex justify-between">
                <span [ngPlural]="+timeBetweenRepostings.name">
                  <ng-template ngPluralCase="=0">
                    <span>{{ i + 1 + ". " }} Nenhuma dia</span>
                  </ng-template>

                  <ng-template ngPluralCase="=1">
                    <span>{{ i + 1 + ". " + (timeBetweenRepostings.name | number) + " dia" }}</span>
                  </ng-template>

                  <ng-template ngPluralCase="other">
                    <span>{{
                      i + 1 + ". " + (timeBetweenRepostings.name | number) + " dias"
                    }}</span>
                  </ng-template>
                </span>

                <div class="flex gap-2">
                  <span>{{ timeBetweenRepostings.count | number }}</span>
                  <span class="text-gray-600"
                    >({{ timeBetweenRepostings.count / jobsCount | percent: "1.1-1" }})</span
                  >
                </div>
              </div>

              <progress
                class="progress w-full"
                [value]="timeBetweenRepostings.count"
                [max]="jobsCount"
              ></progress>
            </button>
          </ng-container>
        </ng-container>

        <ng-template #loading>
          <div class="flex flex-col w-full gap-4 mt-4">
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300 flex flex-col gap-4 h-min">
      <div class="card-title items-center p-4">
        <i class="bx bxs-calendar"></i>
        <h1>Vagas publicadas ao longo do tempo</h1>
      </div>

      <div class="card-body">
        <vgm-publication-chart [jobs$]="jobs$"></vgm-publication-chart>
      </div>
    </div>

    <vgm-job-postings-comparison [jobs$]="jobs$"></vgm-job-postings-comparison>

    <vgm-matches-chart [jobs$]="jobs$"></vgm-matches-chart>
  </div>

  <section class="grid grid-cols-1 gap-4">
    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body p-4">
        <ng-container *ngIf="selectedDataType === repostingsDataTypes.repostingsCount">
          <span [ngPlural]="selectedRepostingCount">
            <ng-template ngPluralCase="=0">
              <h1 class="font-bold text-lg">Sobre as vagas que não foram repostadas</h1>
            </ng-template>

            <ng-template ngPluralCase="=1">
              <h1 class="font-bold text-lg">
                Sobre as vagas que foram repostadas {{ selectedRepostingCount }} vez
              </h1>
            </ng-template>

            <ng-template ngPluralCase="other">
              <h1 class="font-bold text-lg">
                Sobre as vagas que foram repostadas {{ selectedRepostingCount }} vezes
              </h1>
            </ng-template>
          </span>
        </ng-container>

        <ng-container *ngIf="selectedDataType === repostingsDataTypes.timeInDaysBetweenRepostings">
          <span [ngPlural]="selectedTimeBetweenReposting">
            <ng-template ngPluralCase="=0">
              <h1 class="font-bold text-lg">Sobre as vagas que não foram repostadas</h1>
            </ng-template>

            <ng-template ngPluralCase="=1">
              <h1 class="font-bold text-lg">Sobre as vagas que foram repostadas no mesmo dia</h1>
            </ng-template>

            <ng-template ngPluralCase="other">
              <h1 class="font-bold text-lg">
                Sobre as vagas que foram repostadas durante {{ selectedTimeBetweenReposting }} dias
              </h1>
            </ng-template>
          </span>
        </ng-container>
      </div>
    </div>

    <vgm-rank [rankType]="rankTypes.experience" [jobs$]="jobs$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.workplace" [jobs$]="jobs$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.contractTypes" [jobs$]="jobs$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.technology" [jobs$]="jobs$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.companies" [jobs$]="jobs$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.inclusion" [jobs$]="jobs$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.education" [jobs$]="jobs$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.months" [jobs$]="jobs$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.cities" [jobs$]="jobs$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.certification" [jobs$]="jobs$"></vgm-rank>
  </section>
</main>

<div class="divider"></div>

<div class="flex items-center justify-center mb-4">
  <div class="card card-bordered card-compact w-full lg:w-1/2 bg-base-300">
    <div class="card-title justify-between p-4">
      <h1>Vagas consideradas nos dados acima</h1>
      <span>Total: {{ ((jobs$ | async) || []).length }} vagas</span>
    </div>

    <div class="card-body overflow-y-hidden">
      <vgm-job-list [jobs$]="jobs$"></vgm-job-list>
    </div>
  </div>
</div>
