<div class="navbar bg-base-100 p-4">
  <div class="navbar-start">
    <a [routerLink]="['']" class="btn btn-ghost text-xl">vagômetro</a>
  </div>
  <div class="navbar-center gap-2">
    <div class="btn btn-xs btn-ghost">dev</div>
    <div class="btn btn-xs btn-ghost btn-outline btn-disabled">ui/ux</div>
    <div class="btn btn-xs btn-ghost btn-outline btn-disabled">devops</div>
    <div class="btn btn-xs btn-ghost btn-outline btn-disabled">
      product manager
    </div>
    <div class="btn btn-xs btn-ghost btn-outline btn-disabled">dados</div>
  </div>
  <div class="navbar-end">
    <label class="btn btn-ghost btn-circle swap swap-rotate">
      <input type="checkbox" class="theme-controller" value="light" />

      <div class="swap-on">
        <i class="bx bxs-moon"></i>
      </div>

      <div class="swap-off">
        <i class="bx bxs-sun"></i>
      </div>
    </label>

    <a
      class="btn btn-ghost btn-circle"
      href="https://github.com/leo-holanda/vagometro"
      target="_blank"
    >
      <i class="bx bxl-github"></i>
    </a>

    <button class="btn btn-ghost btn-circle">
      <i class="bx bxs-help-circle"></i>
    </button>
  </div>
</div>

<div class="flex flex-wrap items-center justify-center gap-2 m-4 mb-8">
  <button
    [ngClass]="{
      'btn-active': (currentTimeWindow$ | async) == timeWindows.day
    }"
    (click)="onTimeWindowClick(timeWindows.day)"
    class="btn btn-outline"
  >
    Ontem
  </button>

  <button
    [ngClass]="{
      'btn-active': (currentTimeWindow$ | async) == timeWindows.week
    }"
    (click)="onTimeWindowClick(timeWindows.week)"
    class="btn btn-outline"
  >
    Semana
  </button>

  <button
    [ngClass]="{
      'btn-active': (currentTimeWindow$ | async) == timeWindows.month
    }"
    (click)="onTimeWindowClick(timeWindows.month)"
    class="btn btn-outline"
  >
    Mês
  </button>

  <button
    [ngClass]="{
      'btn-active': (currentTimeWindow$ | async) == timeWindows['6months']
    }"
    (click)="onTimeWindowClick(timeWindows['6months'])"
    class="btn btn-outline"
  >
    6 meses
  </button>

  <button
    [ngClass]="{
      'btn-active': (currentTimeWindow$ | async) == timeWindows.year
    }"
    (click)="onTimeWindowClick(timeWindows.year)"
    class="btn btn-outline"
  >
    1 ano
  </button>

  <button
    [ngClass]="{
      'btn-active': (currentTimeWindow$ | async) == timeWindows.all
    }"
    (click)="onTimeWindowClick(timeWindows.all)"
    class="btn btn-outline"
  >
    Sempre
  </button>
</div>
