<div class="container mx-auto overflow-x-hidden">
  <vgm-header></vgm-header>
  <router-outlet></router-outlet>
</div>

<footer class="footer footer-center p-4 gap-4 bg-base-300 text-base-content">
  <vgm-countdown [jobSource]="jobSources.gupy"></vgm-countdown>
  <vgm-countdown [jobSource]="jobSources.linkedin"></vgm-countdown>

  <aside>
    <p class="flex gap-1">
      mais um projetinho do
      <a class="link" href="https://github.com/leo-holanda" target="_blank">leo-holanda</a>
    </p>
  </aside>
</footer>
