<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 m-4">
  <div class="flex flex-col gap-4 h-min">
    <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
      <div class="card-title items-center p-4">
        <i class="bx bxs-home"></i>
        <h1>Rank de modalidades</h1>
      </div>

      <div class="card-body max-h-96 overflow-y-auto">
        <ng-container
          *ngIf="workplacesRank$ | async as workplacesRank; else loading"
        >
          <button
            class="btn btn-ghost"
            *ngFor="
              let workplace of workplacesRank;
              index as i;
              trackBy: trackByWorkplace
            "
            [ngClass]="{ 'btn-active': selectedWorkplace == workplace.type }"
            (click)="onWorkplaceClick(workplace.type)"
          >
            <div class="w-full flex justify-between">
              <span>{{ i + 1 + ". " + workplace.type | titlecase }}</span>
              <span>{{ workplace.count }}</span>
            </div>

            <progress
              class="progress w-full"
              [value]="workplace.count"
              [max]="workplacesQuantity"
            ></progress>
          </button>
        </ng-container>

        <ng-template #loading>
          <div class="flex flex-col w-full gap-4 mt-4">
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
          </div>
        </ng-template>
      </div>
    </div>

    <div
      class="card card-bordered card-compact w-full bg-base-100 shadow-xl flex flex-col gap-4 h-min"
    >
      <div class="card-title items-center p-4">
        <i class="bx bxs-calendar"></i>
        <h1>Vagas publicadas ao longo do tempo</h1>
      </div>

      <div class="card-body">
        <vgm-publication-chart
          [jobs$]="jobsByWorkplace$"
        ></vgm-publication-chart>
      </div>
    </div>
  </div>

  <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
    <div class="card-body">
      <h1 class="font-bold text-lg mb-4">
        Sobre vagas na modalidade {{ selectedWorkplace | titlecase }}
      </h1>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-business"></i>
          <h3>Empresas que mais contratam</h3>
        </div>
        <vgm-companies-rank [jobs$]="jobsByWorkplace$"></vgm-companies-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-chip"></i>
          <h3>Tecnologias mais frequentes</h3>
        </div>
        <vgm-keywords-rank [jobs$]="jobsByWorkplace$"></vgm-keywords-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-user-detail"></i>
          <h3>Níveis de experiência mais requisitados</h3>
        </div>
        <vgm-experience-levels-rank
          [jobs$]="jobsByWorkplace$"
        ></vgm-experience-levels-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-briefcase"></i>
          <h3>Tipos de vagas</h3>
        </div>
        <vgm-type-rank [jobs$]="jobsByWorkplace$"></vgm-type-rank>
      </section>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="flex items-center justify-center">
  <div class="card card-bordered card-compact w-min bg-base-100 shadow-xl">
    <div class="card-title justify-between p-4">
      <h1>Vagas consideradas nos dados acima</h1>
      <span>Total: {{ ((jobsByWorkplace$ | async) || []).length }} vagas</span>
    </div>

    <div class="card-body overflow-y-hidden">
      <vgm-job-list [jobs$]="jobsByWorkplace$"></vgm-job-list>
    </div>
  </div>
</div>
