<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 m-4">
  <div class="flex flex-col gap-4 h-min">
    <div class="card card-bordered card-compact w-full bg-base-300 h-min">
      <div class="card-title items-center flex-wrap justify-between p-4">
        <div class="flex items-center gap-2">
          <i class="bx bxs-map-alt"></i>
          <h1>Vagas por {{ dataTypeTranslations[dataType] }}</h1>
        </div>
        <div class="flex flex-wrap gap-2">
          <button (click)="changeDataType('city')" class="btn" [ngClass]="{ 'btn-active': dataType === 'city' }">Ver por cidades</button>
          <button (click)="changeDataType('state')" class="btn" [ngClass]="{ 'btn-active': dataType === 'state' }">Ver por estados</button>
          <button (click)="changeDataType('map')" class="btn" [ngClass]="{ 'btn-active': dataType === 'map' }">Ver mapa nacional</button>
        </div>
      </div>

      <ng-container *ngIf="!(citiesRank$ | async); else content">
        <div class="flex flex-col w-full gap-4 p-4">
          <div class="skeleton h-8 w-full"></div>
          <div class="skeleton h-8 w-full"></div>
          <div class="skeleton h-8 w-full"></div>
          <div class="skeleton h-8 w-full"></div>
          <div class="skeleton h-8 w-full"></div>
        </div>
      </ng-container>

      <ng-template [ngSwitch]="dataType" #content>
        <div class="card-body">
          <ng-container *ngSwitchCase="'map'" #nationalMap>
            <vgm-brazil-map (stateClicked)="onStateClicked($event)"></vgm-brazil-map>
          </ng-container>

          <ng-container *ngSwitchCase="'city'" #citiesList>
            <div class="card-body gap-2 max-h-96 overflow-y-auto">
              <div class="flex justify-between w-full px-2 text-gray-600">
                <span>Cidade</span>
                <span>Vagas</span>
              </div>

              <button
                class="btn btn-ghost p-2"
                *ngFor="let city of citiesRank$ | async; index as i; trackBy: trackByCity"
                [ngClass]="{ 'btn-active': selectedCity === city.name }"
                (click)="onCityClicked(city.name)"
              >
                <div class="w-full flex justify-between">
                  <span>{{ i + 1 + ". " + city.name + ", " + (city.state | stateAbbreviation) }}</span>
                  <div class="flex gap-2">
                    <span>{{ city.count | number }}</span>
                    <span class="text-gray-600">({{ city.count / jobsQuantity | percent: "1.1-1" }})</span>
                  </div>
                </div>
                <progress class="progress w-full" [value]="city.count" [max]="jobsQuantity"></progress>
              </button>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'state'" #statesList>
            <div class="card-body gap-2 max-h-96 overflow-y-auto">
              <div class="flex justify-between w-full px-2 text-gray-600">
                <span>Estado</span>
                <span>Vagas</span>
              </div>

              <button
                class="btn btn-ghost p-2"
                *ngFor="let state of statesRank$ | async; index as i; trackBy: trackByState"
                [ngClass]="{ 'btn-active': selectedState === state.name }"
                (click)="onStateClicked(state.name)"
              >
                <div class="w-full flex justify-between">
                  <span>{{ i + 1 + ". " + state.name }}</span>

                  <div class="flex gap-2">
                    <span>{{ state.count | number }}</span>
                    <span class="text-gray-600">({{ state.count / jobsQuantity | percent: "1.1-1" }})</span>
                  </div>
                </div>

                <progress class="progress w-full" [value]="state.count" [max]="jobsQuantity"></progress>
              </button>
            </div>
          </ng-container>
        </div>
      </ng-template>

      <p class="text-xs text-slate-500 p-4">Considerando apenas vagas presenciais e híbridas</p>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300 flex flex-col gap-4 h-min">
      <div class="card-title items-center p-4">
        <i class="bx bxs-calendar"></i>
        <h1>
          Vagas publicadas em
          {{ dataType === "city" ? selectedCity : selectedState }} ao longo do tempo
        </h1>
      </div>

      <div class="card-body">
        <vgm-publication-chart [jobs$]="dataType === 'city' ? jobsByCity$ : jobsByState$"></vgm-publication-chart>
      </div>
    </div>

    <vgm-job-postings-comparison [jobs$]="dataType === 'city' ? jobsByCity$ : jobsByState$"></vgm-job-postings-comparison>
  </div>

  <div class="card card-bordered card-compact w-full bg-base-300">
    <div class="card-title p-4">
      <h1>
        Sobre as vagas em
        {{ dataType === "city" ? selectedCity : selectedState }}
      </h1>
    </div>

    <div class="card-body">
      <section *ngIf="dataType !== 'city'">
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-map"></i>
          <h3>Cidades com mais vagas</h3>
        </div>
        <vgm-cities-rank [jobs$]="jobsByState$"></vgm-cities-rank>
      </section>

      <div *ngIf="dataType !== 'city'" class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-chip"></i>
          <h3>Tecnologias em alta</h3>
        </div>
        <vgm-keywords-rank [jobs$]="dataType === 'city' ? jobsByCity$ : jobsByState$"></vgm-keywords-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-business"></i>
          <h3>Empresas que mais contratam</h3>
        </div>
        <vgm-companies-rank [jobs$]="dataType === 'city' ? jobsByCity$ : jobsByState$"></vgm-companies-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-user-detail"></i>
          <h3>Níveis de experiência mais requisitados</h3>
        </div>
        <vgm-experience-levels-rank [jobs$]="dataType === 'city' ? jobsByCity$ : jobsByState$"></vgm-experience-levels-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-briefcase"></i>
          <h3>Tipos de vagas</h3>
        </div>
        <vgm-type-rank [jobs$]="dataType === 'city' ? jobsByCity$ : jobsByState$"></vgm-type-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-graduation"></i>
          <h3>Níveis de formação mais requisitados</h3>
        </div>
        <vgm-education-rank [jobs$]="dataType === 'city' ? jobsByCity$ : jobsByState$"></vgm-education-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bx-globe"></i>
          <h3>Idiomas mais requisitados</h3>
        </div>
        <vgm-languages-rank [jobs$]="dataType === 'city' ? jobsByCity$ : jobsByState$"></vgm-languages-rank>
      </section>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="flex items-center justify-center mb-4">
  <div class="card card-bordered card-compact w-full lg:w-1/2 bg-base-300">
    <div class="card-title justify-between p-4">
      <h1>Vagas consideradas nos dados acima</h1>
      <span
        >Total:
        {{ (((dataType === "city" ? jobsByCity$ : jobsByState$) | async) || []).length }}
        vagas</span
      >
    </div>

    <div class="card-body overflow-y-hidden">
      <vgm-job-list [jobs$]="dataType === 'city' ? jobsByCity$ : jobsByState$"></vgm-job-list>
    </div>
  </div>
</div>
