<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 m-4 h-full">
  <div class="flex flex-col gap-4 h-min">
    <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
      <div class="card-title items-center p-4">
        <i class="bx bx-globe"></i>
        <h1>Rank de Idiomas</h1>
      </div>

      <div class="card-body max-h-96 overflow-y-auto">
        <ng-container
          *ngIf="languagesRank$ | async as languagesRank; else loading"
        >
          <button
            class="btn btn-ghost p-2"
            *ngFor="
              let language of languagesRank;
              index as i;
              trackBy: trackByLanguage
            "
            [ngClass]="{ 'btn-active': selectedLanguage == language.name }"
            (click)="onLanguageClick(language.name)"
          >
            <div class="w-full flex justify-between">
              <span>{{ i + 1 + ". " + language.name }}</span>
              <span>{{ language.count }}</span>
            </div>
            <progress
              class="progress w-full"
              [value]="language.count"
              [max]="jobsQuantity"
            ></progress>
          </button>
        </ng-container>

        <ng-template #loading>
          <div class="flex flex-col w-full gap-4 mt-4">
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
          </div>
        </ng-template>
      </div>
    </div>

    <div
      class="card card-bordered card-compact w-full bg-base-100 shadow-xl flex flex-col gap-4 h-min"
    >
      <div class="card-title items-center p-4">
        <i class="bx bxs-calendar"></i>
        <h1>Vagas publicadas ao longo do tempo</h1>
      </div>

      <div class="card-body">
        <vgm-publication-chart
          [jobs$]="jobsByLanguage$"
        ></vgm-publication-chart>
      </div>
    </div>
  </div>

  <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
    <div class="card-body">
      <ng-container
        *ngIf="selectedLanguage != 'Desconhecido'; else unknownLanguageTemplate"
      >
        <h1 class="font-bold text-lg mb-4">
          Sobre as vagas que mencionam o idioma {{ selectedLanguage }}
        </h1>
      </ng-container>

      <ng-template #unknownLanguageTemplate>
        <h1 class="font-bold text-lg mb-4">
          Sobre as vagas que não mencionam idioma
        </h1>
      </ng-template>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-chip"></i>
          <h3>Tecnologias mais frequentes</h3>
        </div>
        <vgm-keywords-rank [jobs$]="jobsByLanguage$"></vgm-keywords-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-business"></i>
          <h3>Empresas que mais contratam</h3>
        </div>
        <vgm-companies-rank [jobs$]="jobsByLanguage$"></vgm-companies-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-home"></i>
          <h3>Modalidades mais frequentes</h3>
        </div>
        <vgm-workplace-rank [jobs$]="jobsByLanguage$"></vgm-workplace-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-user-detail"></i>
          <h3>Níveis de experiência mais requisitados</h3>
        </div>
        <vgm-experience-levels-rank
          [jobs$]="jobsByLanguage$"
        ></vgm-experience-levels-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-graduation"></i>
          <h3>Níveis de formação mais requisitados</h3>
        </div>
        <vgm-education-rank [jobs$]="jobsByLanguage$"></vgm-education-rank>
      </section>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="flex items-center justify-center mb-4">
  <div
    class="card card-bordered card-compact w-full lg:w-1/2 bg-base-100 shadow-xl"
  >
    <div class="card-title justify-between p-4">
      <h1>Vagas consideradas nos dados acima</h1>
      <span>Total: {{ ((jobsByLanguage$ | async) || []).length }} vagas</span>
    </div>

    <div class="card-body overflow-y-hidden">
      <vgm-job-list [jobs$]="jobsByLanguage$"></vgm-job-list>
    </div>
  </div>
</div>
