<ng-container *ngIf="typesRank$ | async as typesRank; else loading">
  <div class="overflow-x-auto w-full">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Tipo</th>
          <th>Vagas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let type of typesRank; index as i">
          <th>{{ i + 1 }}</th>
          <td>{{ translations[type.name] | titlecase }}</td>
          <td>{{ type.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-template #loading>
  <div class="flex items-center justify-center">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
</ng-template>
