.virtual-scroll-viewport {
  height: 100%;
}

.repostings-virtual-scroll-viewport {
  height: 50dvh;
}

:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}

.header-row {
  top: -16px;
}
