<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 m-4 h-full">
  <div class="flex flex-col gap-4 h-min">
    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-title items-center p-4">
        <i class="bx bxs-calendar"></i>
        <h1>Meses com mais vagas publicadas</h1>
      </div>

      <div class="card-body max-h-96 overflow-y-auto">
        <ng-container *ngIf="monthsRank$ | async as monthsRank; else loading">
          <div class="flex justify-between w-full px-2 text-gray-600">
            <span>Mês</span>
            <span>Vagas</span>
          </div>

          <button
            class="btn btn-ghost p-2"
            *ngFor="let month of monthsRank; index as i; trackBy: trackByRankData"
            [ngClass]="{ 'btn-active': selectedMonth === month.name }"
            (click)="onMonthClick(month.name)"
          >
            <div class="w-full flex justify-between">
              <span>{{ i + 1 + ". " + month.name | titlecase }}</span>

              <div class="flex gap-2">
                <span>{{ month.count | number }}</span>
                <span class="text-gray-600"
                  >({{ month.count / jobsQuantity | percent: "1.1-1" }})</span
                >
              </div>
            </div>

            <progress class="progress w-full" [value]="month.count" [max]="jobsQuantity"></progress>
          </button>
        </ng-container>

        <ng-template #loading>
          <div class="flex flex-col w-full gap-4 mt-4">
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
            <div class="skeleton h-8 w-full"></div>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300 flex flex-col gap-4 h-min">
      <div class="card-title items-center p-4">
        <i class="bx bxs-calendar"></i>
        <h1>Vagas publicadas ao longo do tempo</h1>
      </div>

      <div class="card-body">
        <vgm-publication-chart [jobs$]="jobsByMonth$"></vgm-publication-chart>
      </div>
    </div>

    <vgm-job-postings-comparison [jobs$]="jobsByMonth$"></vgm-job-postings-comparison>

    <vgm-matches-chart [jobs$]="jobsByMonth$"></vgm-matches-chart>
  </div>

  <section class="grid grid-cols-1 gap-4">
    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body">
        <ng-container *ngIf="selectedMonth !== 'Desconhecido'; else unknownMonthTemplate">
          <h1 class="font-bold text-lg mb-4">
            Sobre as vagas que publicadas no mês de
            {{ selectedMonth | titlecase }}
          </h1>
        </ng-container>

        <ng-template #unknownMonthTemplate>
          <h1 class="font-bold text-lg mb-4">Sobre as vagas que não mencionam idioma</h1>
        </ng-template>
      </div>
    </div>

    <vgm-rank [rankType]="rankTypes.experience" [jobs$]="jobsByMonth$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.workplace" [jobs$]="jobsByMonth$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.contractTypes" [jobs$]="jobsByMonth$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.technology" [jobs$]="jobsByMonth$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.companies" [jobs$]="jobsByMonth$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.education" [jobs$]="jobsByMonth$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.languages" [jobs$]="jobsByMonth$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.cities" [jobs$]="jobsByMonth$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.inclusion" [jobs$]="jobsByMonth$"></vgm-rank>

    <vgm-rank [rankType]="rankTypes.certification" [jobs$]="jobsByMonth$"></vgm-rank>
  </section>
</div>

<div class="divider"></div>

<div class="flex items-center justify-center mb-4">
  <div class="card card-bordered card-compact w-full lg:w-1/2 bg-base-300">
    <div class="card-title justify-between p-4">
      <h1>Vagas consideradas nos dados acima</h1>
      <span>Total: {{ ((jobsByMonth$ | async) || []).length }} vagas</span>
    </div>

    <div class="card-body overflow-y-hidden">
      <vgm-job-list [jobs$]="jobsByMonth$"></vgm-job-list>
    </div>
  </div>
</div>
