<ng-container
  *ngIf="experienceLevelsRank$ | async as experienceLevelsRank; else loading"
>
  <div class="overflow-auto max-h-96 w-full">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nível</th>
          <th>Vagas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let experienceLevel of experienceLevelsRank; index as i">
          <th>{{ i + 1 }}</th>
          <td>
            {{ experienceLevel.level }}
          </td>
          <td>{{ experienceLevel.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-template #loading>
  <div class="flex flex-col w-full gap-4 mt-4">
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
  </div>
</ng-template>
