<ng-container *ngIf="(jobsCount$ | async) != undefined; else loading">
  <div class="stats stats-vertical bg-base-300 m-4">
    <div class="stat place-items-center">
      <div class="stat-value text-6xl lg:text-8xl">
        {{ jobsCount$ | async | number }}
      </div>

      <div [ngSwitch]="currentTimeWindow$ | async">
        <div *ngSwitchCase="timeWindows.day">
          <div class="stat-desc text-center text-lg lg:text-xl text-wrap">
            vagas publicadas no dia anterior
          </div>
        </div>

        <div *ngSwitchCase="timeWindows.week">
          <div class="stat-desc text-center text-lg lg:text-xl text-wrap">
            vagas publicadas nesta semana
          </div>
        </div>

        <div *ngSwitchCase="timeWindows.month">
          <div class="stat-desc text-center text-lg lg:text-xl text-wrap">
            vagas publicadas neste mês
          </div>
        </div>

        <div *ngSwitchCase="timeWindows['6months']">
          <div class="stat-desc text-center text-lg lg:text-xl text-wrap">
            vagas publicadas nos últimos 6 meses
          </div>
        </div>

        <div *ngSwitchCase="timeWindows.year">
          <div class="stat-desc text-center text-lg lg:text-xl text-wrap">
            vagas publicadas no último ano
          </div>
        </div>

        <div *ngSwitchCase="timeWindows.all">
          <div class="stat-desc text-center text-lg lg:text-xl text-wrap">
            vagas publicadas
          </div>
        </div>

        <div *ngSwitchDefault>output2</div>
      </div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Comparação com o último mês</div>
      <div class="stat-value">
        <span
          [ngClass]="{
            'text-green-500': (lastMonthDifference$ | async)!.difference > 0,
            'text-red-500': (lastMonthDifference$ | async)!.difference < 0
          }"
        >
          {{ (lastMonthDifference$ | async)!.difference | number }}
        </span>
        <i
          *ngIf="(lastMonthDifference$ | async)!.difference > 0"
          class="bx bxs-up-arrow-alt text-3xl"
          [ngClass]="{
            'text-green-500': (lastMonthDifference$ | async)!.difference > 0,
            'text-red-500': (lastMonthDifference$ | async)!.difference < 0
          }"
        ></i>
        <i
          *ngIf="(lastMonthDifference$ | async)!.difference < 0"
          class="bx bxs-down-arrow-alt text-3xl"
          [ngClass]="{
            'text-green-500': (lastMonthDifference$ | async)!.difference > 0,
            'text-red-500': (lastMonthDifference$ | async)!.difference < 0
          }"
        ></i>
      </div>
      <div
        class="stat-desc flex items-center flex-col"
        [ngClass]="{
          'text-green-500': (lastMonthDifference$ | async)!.difference > 0,
          'text-red-500': (lastMonthDifference$ | async)!.difference < 0
        }"
      >
        <span> vagas publicadas </span>
        <button class="btn btn-sm my-4" [routerLink]="['/comparativo']">
          <i class="bx bxs-chart"></i>
          <span> Ver comparativo </span>
        </button>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="flex flex-col w-2/3 lg:w-1/3 m-4">
    <div class="skeleton h-40 w-full"></div>
  </div>
</ng-template>
