<ng-container *ngIf="(jobsCount$ | async) !== undefined; else loading">
  <div class="stats stats-vertical lg:stats-horizontal gap-4 m-4">
    <ng-container *ngIf="regressionData$ | async as regressionData">
      <div class="stat bg-base-300 rounded-2xl">
        <div class="stat-title text-balance">Status do mercado</div>

        <div class="tooltip" data-tip="Obtido através da inclinação da reta de regressão">
          <div class="stat-value">
            <span class="text-green-500 flex items-center gap-2" *ngIf="regressionData.slope > 0">
              <i class="bx bx-up-arrow-circle text-4xl"></i>
              <span> Em alta </span>
            </span>

            <span class="text-red-500 flex items-center gap-2" *ngIf="regressionData.slope < 0">
              <i class="bx bx-down-arrow-circle text-4xl"></i>
              <span> Em queda </span>
            </span>

            <span
              class="text-yellow-500 flex items-center gap-2"
              *ngIf="regressionData.slope === 0"
            >
              <i class="bx bx-minus-circle text-4xl"></i>
              <span>Estável</span>
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="selectedMovingAverageData$ | async as selectedMovingAverageData">
      <div class="stat bg-base-300 rounded-2xl gap-4">
        <div class="stat-title flex justify-between flex-wrap gap-2">
          <span> Média móvel ({{ selectedMovingAverageType$ | async }}) </span>

          <div class="join">
            <button
              class="btn btn-xs join-item"
              [ngClass]="{
                'btn-primary': (selectedMovingAverageType$ | async) === movingAverageTypes.oneWeek
              }"
              (click)="setMovingAverageType(movingAverageTypes.oneWeek)"
            >
              7d
            </button>

            <button
              class="btn btn-xs join-item"
              [ngClass]="{
                'btn-primary': (selectedMovingAverageType$ | async) === movingAverageTypes.oneMonth
              }"
              (click)="setMovingAverageType(movingAverageTypes.oneMonth)"
            >
              30d
            </button>

            <button
              class="btn btn-xs join-item"
              [ngClass]="{
                'btn-primary': (selectedMovingAverageType$ | async) === movingAverageTypes.oneYear
              }"
              (click)="setMovingAverageType(movingAverageTypes.oneYear)"
            >
              1y
            </button>
          </div>
        </div>

        <div class="stat-value">
          <span
            *ngIf="selectedMovingAverageData.value < 1; else higherThanOneMovingAverageTemplate"
          >
            {{ selectedMovingAverageData.value | number: "1.2-2" }}
          </span>

          <ng-template #higherThanOneMovingAverageTemplate>
            {{ selectedMovingAverageData.value | number: "1.0-0" }}
          </ng-template>

          <span class="text-sm"> vagas/dia </span>
        </div>

        <div
          *ngIf="shouldShowMovingAverageComparison; else insufficientMovingAverageDataTemplate"
          class="stat-desc flex items-center gap-2"
          [ngClass]="{
            'text-green-500': selectedMovingAverageData.comparedValue > 0,
            'text-red-500': selectedMovingAverageData.comparedValue < 0
          }"
        >
          <i
            *ngIf="selectedMovingAverageData.comparedValue > 0"
            class="bx bx-up-arrow-circle text-4xl text-green-500"
          ></i>

          <i
            *ngIf="selectedMovingAverageData.comparedValue < 0"
            class="bx bx-down-arrow-circle text-4xl text-red-500"
          ></i>

          <i
            *ngIf="selectedMovingAverageData.comparedValue === 0"
            class="bx bx-minus-circle text-4xl"
          ></i>

          <div class="text-balance">
            <span *ngIf="selectedMovingAverageData.comparedValue > 0">Aumento de</span>
            <span *ngIf="selectedMovingAverageData.comparedValue < 0">Queda de</span>
            <span *ngIf="selectedMovingAverageData.comparedValue === 0">Diferença de</span>

            <span>
              <strong> {{ selectedMovingAverageData.comparedValue | percent: "1.0-0" }} </strong> em
              comparação com
            </span>

            <span *ngIf="(selectedMovingAverageType$ | async) === movingAverageTypes.oneWeek"
              >a semana passada
            </span>
            <span *ngIf="(selectedMovingAverageType$ | async) === movingAverageTypes.oneMonth"
              >o mês passado
            </span>
            <span *ngIf="(selectedMovingAverageType$ | async) === movingAverageTypes.oneYear"
              >o ano passado
            </span>
          </div>
        </div>

        <ng-template #insufficientMovingAverageDataTemplate>
          <span class="stat-desc">Não há dados suficientes para a comparação de média móvel</span>
        </ng-template>
      </div>
    </ng-container>

    <div class="stat bg-base-300 rounded-2xl gap-2">
      <div class="stat-title">Total</div>

      <div class="stat-value">
        {{ jobsCount$ | async | number }}
        <span class="text-sm"> vagas </span>
      </div>

      <div class="stat-desc flex flex-col gap-4">
        <span class="text-balance">
          publicadas desde o dia
          {{ oldestJobPublishedDate$ | async | date: "dd/MM/yyyy" }}
        </span>

        <button class="btn btn-sm" [routerLink]="['/stats/comparativo']">
          <i class="bx bxs-chart"></i>
          <span> Ver comparativo </span>
        </button>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="flex flex-col w-2/3 lg:w-1/3 m-4">
    <div class="skeleton h-40 w-full"></div>
  </div>
</ng-template>
