<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 m-4 h-full">
  <div class="flex flex-col gap-4 h-min">
    <div class="card card-bordered card-compact w-full bg-base-300 -xl">
      <div class="card-title items-center justify-between flex-wrap p-4">
        <div class="flex items-center gap-2">
          <i class="bx bxs-graduation"></i>
          <h1>Rank de Educação</h1>
        </div>

        <section class="flex flex-col gap-2">
          <div class="flex flex-wrap gap-2">
            <button
              [ngClass]="{
                'btn-active': selectedDataType === educationalDataTypes.level
              }"
              (click)="setDataType(educationalDataTypes.level)"
              class="btn btn-outline"
            >
              Por nível
            </button>

            <button
              [ngClass]="{
                'btn-active': selectedDataType === educationalDataTypes.course
              }"
              (click)="setDataType(educationalDataTypes.course)"
              class="btn btn-outline"
            >
              Por curso
            </button>
          </div>
        </section>
      </div>

      <div class="card-body max-h-96 overflow-y-auto">
        <ng-container *ngIf="educationalLevelRank$ | async as educationalLevelRank; else loading">
          <ng-container *ngIf="selectedDataType === educationalDataTypes.level">
            <div class="flex justify-between w-full px-2 text-gray-600">
              <span>Nível</span>
              <span>Vagas</span>
            </div>

            <button
              class="btn btn-ghost p-2"
              *ngFor="
                let educationalLevel of educationalLevelRank;
                index as i;
                trackBy: trackByRankData
              "
              [ngClass]="{
                'btn-active': selectedEducationalLevelTerm === educationalLevel.name
              }"
              (click)="onEducationalLevelClick(educationalLevel.name)"
            >
              <div class="w-full flex justify-between">
                <span>{{ i + 1 + ". " + educationalLevel.name }}</span>
                <div class="flex gap-2">
                  <span>{{ educationalLevel.count | number }}</span>
                  <span class="text-gray-600"
                    >({{ educationalLevel.count / jobsQuantity | percent: "1.1-1" }})</span
                  >
                </div>
              </div>
              <progress
                class="progress w-full"
                [value]="educationalLevel.count"
                [max]="jobsQuantity"
              ></progress>
            </button>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="educationRank$ | async as educationRank; else loading">
          <ng-container *ngIf="selectedDataType === educationalDataTypes.course">
            <div class="flex justify-between w-full px-2 text-gray-600">
              <span>Curso</span>
              <span>Vagas</span>
            </div>

            <button
              class="btn btn-ghost p-2"
              *ngFor="let educationTerm of educationRank; index as i; trackBy: trackByRankData"
              [ngClass]="{
                'btn-active': selectedEducationTerm === educationTerm.name
              }"
              (click)="onEducationTermClick(educationTerm.name)"
            >
              <div class="w-full flex justify-between">
                <span>{{ i + 1 + ". " + educationTerm.name }}</span>

                <div class="flex gap-2">
                  <span>{{ educationTerm.count | number }}</span>
                  <span class="text-gray-600"
                    >({{ educationTerm.count / jobsQuantity | percent: "1.1-1" }})</span
                  >
                </div>
              </div>

              <progress
                class="progress w-full"
                [value]="educationTerm.count"
                [max]="jobsQuantity"
              ></progress>
            </button>
          </ng-container>
        </ng-container>
      </div>

      <ng-template #loading>
        <div class="flex flex-col w-full gap-4 mt-4">
          <div class="skeleton h-8 w-full"></div>
          <div class="skeleton h-8 w-full"></div>
          <div class="skeleton h-8 w-full"></div>
          <div class="skeleton h-8 w-full"></div>
          <div class="skeleton h-8 w-full"></div>
        </div>
      </ng-template>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-300 -xl flex flex-col gap-4 h-min">
      <div class="card-title items-center p-4">
        <i class="bx bxs-calendar"></i>
        <h1>Vagas publicadas ao longo do tempo</h1>
      </div>

      <div class="card-body">
        <vgm-publication-chart
          [jobs$]="
            selectedDataType === educationalDataTypes.level
              ? jobsByEducationalLevel$
              : jobsByEducationTerm$
          "
        ></vgm-publication-chart>
      </div>
    </div>

    <vgm-job-postings-comparison
      [jobs$]="
        selectedDataType === educationalDataTypes.level
          ? jobsByEducationalLevel$
          : jobsByEducationTerm$
      "
    ></vgm-job-postings-comparison>

    <vgm-matches-chart
      [jobs$]="
        selectedDataType === educationalDataTypes.level
          ? jobsByEducationalLevel$
          : jobsByEducationTerm$
      "
    ></vgm-matches-chart>
  </div>

  <div class="grid grid-cols-1 gap-4">
    <div class="card card-bordered card-compact w-full bg-base-300">
      <div class="card-body p-4">
        <ng-container [ngSwitch]="selectedDataType">
          <ng-container *ngSwitchCase="educationalDataTypes.level">
            <h1
              *ngIf="
                selectedEducationalLevelTerm !== 'Desconhecido';
                else unknownEducationalLevelTemplate
              "
              class="font-bold text-lg"
            >
              Sobre vagas que mencionam o nível de
              {{ selectedEducationalLevelTerm }}
            </h1>

            <ng-template #unknownEducationalLevelTemplate>
              <h1 class="font-bold text-lg">Sobre as vagas com nível de formação desconhecido</h1>
            </ng-template>
          </ng-container>

          <ng-container *ngSwitchCase="educationalDataTypes.course">
            <h1
              *ngIf="selectedEducationTerm !== 'Desconhecido'; else unknownEducationTermTemplate"
              class="font-bold text-lg"
            >
              Sobre vagas que mencionam o curso de {{ selectedEducationTerm }}
            </h1>

            <ng-template #unknownEducationTermTemplate>
              <h1 class="font-bold text-lg">Sobre as vagas onde cursos não foram mencionados</h1>
            </ng-template>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <vgm-rank
      [rankType]="rankTypes.experience"
      [jobs$]="
        selectedDataType === educationalDataTypes.level
          ? jobsByEducationalLevel$
          : jobsByEducationTerm$
      "
    ></vgm-rank>

    <vgm-rank
      [rankType]="rankTypes.workplace"
      [jobs$]="
        selectedDataType === educationalDataTypes.level
          ? jobsByEducationalLevel$
          : jobsByEducationTerm$
      "
    ></vgm-rank>

    <vgm-rank
      [rankType]="rankTypes.technology"
      [jobs$]="
        selectedDataType === educationalDataTypes.level
          ? jobsByEducationalLevel$
          : jobsByEducationTerm$
      "
    ></vgm-rank>

    <vgm-rank
      [rankType]="rankTypes.contractTypes"
      [jobs$]="
        selectedDataType === educationalDataTypes.level
          ? jobsByEducationalLevel$
          : jobsByEducationTerm$
      "
    ></vgm-rank>

    <vgm-rank
      [rankType]="rankTypes.inclusion"
      [jobs$]="
        selectedDataType === educationalDataTypes.level
          ? jobsByEducationalLevel$
          : jobsByEducationTerm$
      "
    ></vgm-rank>

    <vgm-rank
      [rankType]="rankTypes.repostings"
      [jobs$]="
        selectedDataType === educationalDataTypes.level
          ? jobsByEducationalLevel$
          : jobsByEducationTerm$
      "
    ></vgm-rank>

    <vgm-rank
      [rankType]="rankTypes.companies"
      [jobs$]="
        selectedDataType === educationalDataTypes.level
          ? jobsByEducationalLevel$
          : jobsByEducationTerm$
      "
    ></vgm-rank>

    <vgm-rank
      [rankType]="rankTypes.months"
      [jobs$]="
        selectedDataType === educationalDataTypes.level
          ? jobsByEducationalLevel$
          : jobsByEducationTerm$
      "
    ></vgm-rank>

    <vgm-rank
      [rankType]="rankTypes.cities"
      [jobs$]="
        selectedDataType === educationalDataTypes.level
          ? jobsByEducationalLevel$
          : jobsByEducationTerm$
      "
    ></vgm-rank>

    <vgm-rank
      [rankType]="rankTypes.languages"
      [jobs$]="
        selectedDataType === educationalDataTypes.level
          ? jobsByEducationalLevel$
          : jobsByEducationTerm$
      "
    ></vgm-rank>

    <vgm-rank
      [rankType]="rankTypes.certification"
      [jobs$]="
        selectedDataType === educationalDataTypes.level
          ? jobsByEducationalLevel$
          : jobsByEducationTerm$
      "
    ></vgm-rank>
  </div>
</div>

<div class="divider"></div>

<div class="flex items-center justify-center mb-4">
  <div class="card card-bordered card-compact w-full lg:w-1/2 bg-base-300 -xl">
    <div class="card-title justify-between p-4">
      <h1>Vagas consideradas nos dados acima</h1>
      <span
        >Total:
        {{
          (
            ((selectedDataType === educationalDataTypes.level
              ? jobsByEducationalLevel$
              : jobsByEducationTerm$
            ) | async) || []
          ).length
        }}
        vagas</span
      >
    </div>

    <div class="card-body overflow-y-hidden">
      <vgm-job-list
        [jobs$]="
          selectedDataType === educationalDataTypes.level
            ? jobsByEducationalLevel$
            : jobsByEducationTerm$
        "
      ></vgm-job-list>
    </div>
  </div>
</div>
