<div class="flex flex-col rounded-box gap-2">
  <div class="collapse collapse-arrow bg-base-300">
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium">
      <i class="bx bxs-business"></i>
      Gupy
    </div>
    <div class="collapse-content flex flex-col gap-4">
      <div
        class="card card-compact w-full bg-base-100"
        *ngFor="let jobCollection of gupyJobSources | keyvalue"
      >
        <div class="card-body">
          <h2 class="card-title">{{ jobCollection.value.name }}</h2>

          <div class="flex flex-col gap-4">
            <div class="flex flex-col flex-wrap gap-2">
              <header class="flex items-center gap-2">
                <i class="bx bxs-search"></i>
                <h3 class="font-bold">Palavras-chave usadas na busca</h3>
              </header>
              <div class="flex flex-wrap gap-2">
                <div
                  class="badge badge-neutral"
                  *ngFor="
                    let keyword of jobCollection.value.searchStringKeywords
                  "
                >
                  {{ keyword }}
                </div>
              </div>
            </div>

            <div class="flex flex-col flex-wrap gap-2">
              <header class="flex items-center gap-2">
                <i class="bx bxs-calendar"></i>
                <h3 class="font-bold">Data de início da coleta</h3>
              </header>
              <div class="flex gap-2">
                <span>{{ jobCollection.value.initialFetchDate }}</span>
              </div>
            </div>
          </div>

          <div class="card-actions w-full">
            <button
              class="btn w-full justify-between"
              (click)="toggleJobCollection(jobCollection.key)"
              [ngClass]="{
                'btn-primary': jobCollection.value.isActive,
                'btn-disabled':
                  jobCollection.value.isLoading ||
                  jobCollection.value.hasFailedToLoad
              }"
            >
              <div class="flex items-center gap-2">
                <span>{{
                  "Utilizar dados" +
                    (jobCollection.value.hasFailedToLoad
                      ? " - Falha ao carregar vagas"
                      : "")
                }}</span>
              </div>

              <span
                *ngIf="jobCollection.value.isLoading"
                class="loading loading-spinner"
              ></span>
              <i
                *ngIf="!jobCollection.value.isLoaded"
                class="bx bx-download"
              ></i>
              <i
                *ngIf="jobCollection.value.hasFailedToLoad"
                class="bx bxs-x-circle"
              ></i>
              <i
                *ngIf="jobCollection.value.isLoaded"
                class="bx bxs-check-circle"
              ></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="collapse collapse-arrow bg-base-300">
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium">
      <i class="bx bxs-business"></i>
      GitHub
    </div>
    <div class="collapse-content flex flex-col gap-4">
      <div
        class="card card-compact w-full bg-base-100"
        *ngFor="let jobCollection of githubJobSources | keyvalue"
      >
        <div class="card-body">
          <h2 class="card-title">{{ jobCollection.value.name }}</h2>

          <div class="flex flex-col gap-4">
            <div class="flex flex-col flex-wrap gap-2">
              <header class="flex items-center gap-2">
                <i class="bx bxs-search"></i>
                <h3 class="font-bold">Palavras-chave usadas na busca</h3>
              </header>
              <div class="flex flex-wrap gap-2">
                <div
                  class="badge badge-neutral"
                  *ngFor="
                    let keyword of jobCollection.value.searchStringKeywords
                  "
                >
                  {{ keyword }}
                </div>
              </div>
            </div>

            <div class="flex flex-col flex-wrap gap-2">
              <header class="flex items-center gap-2">
                <i class="bx bxs-calendar"></i>
                <h3 class="font-bold">Data de início da coleta</h3>
              </header>
              <div class="flex gap-2">
                <span>{{ jobCollection.value.initialFetchDate }}</span>
              </div>
            </div>
          </div>

          <div class="card-actions w-full">
            <button
              class="btn w-full justify-between"
              (click)="toggleJobCollection(jobCollection.key)"
              [ngClass]="{
                'btn-primary': jobCollection.value.isActive,
                'btn-disabled':
                  jobCollection.value.isLoading ||
                  jobCollection.value.hasFailedToLoad
              }"
            >
              <div class="flex items-center gap-2">
                <span>{{
                  "Utilizar dados" +
                    (jobCollection.value.hasFailedToLoad
                      ? " - Falha ao carregar vagas"
                      : "")
                }}</span>
              </div>

              <span
                *ngIf="jobCollection.value.isLoading"
                class="loading loading-spinner"
              ></span>
              <i
                *ngIf="!jobCollection.value.isLoaded"
                class="bx bx-download"
              ></i>
              <i
                *ngIf="jobCollection.value.hasFailedToLoad"
                class="bx bxs-x-circle"
              ></i>
              <i
                *ngIf="jobCollection.value.isLoaded"
                class="bx bxs-check-circle"
              ></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
