<div role="tablist" class="tabs tabs-boxed gap-2 mb-4">
  <a
    role="tab"
    class="tab gap-2 tab-active"
    [ngClass]="{
      'tab-active': selectedJobSource == jobSources.gupy
    }"
    (click)="setJobSource(jobSources.gupy)"
  >
    <i class="bx bxs-business"></i>
    Gupy</a
  >
  <a
    role="tab"
    class="tab gap-2"
    [ngClass]="{
      'tab-active': selectedJobSource == jobSources.github
    }"
    (click)="setJobSource(jobSources.github)"
  >
    <i class="bx bxl-github"></i>
    GitHub</a
  >
</div>

<main class="flex flex-col gap-4 rounded-box overflow-y-auto overflow-x-hidden">
  <div
    class="flex items-center gap-2"
    *ngFor="let jobCollection of selectedJobCollections | keyvalue"
  >
    <button class="btn btn-info btn-square">
      <i class="bx bxs-info-circle"></i>
    </button>
    <div class="w-full">
      <button
        class="btn btn-accent w-full justify-between"
        (click)="toggleJobCollection(jobCollection.key)"
        [ngClass]="{
          'btn-warning': jobCollection.value.isActive,
          'btn-disabled':
            jobCollection.value.isLoading || jobCollection.value.hasFailedToLoad
        }"
      >
        <div class="flex items-center gap-2">
          <span
            *ngIf="
              !jobCollection.value.isLoading &&
              !jobCollection.value.hasFailedToLoad
            "
          >
            {{ jobCollection.value.name }}
          </span>

          <span *ngIf="jobCollection.value.isLoading">
            Carregando dados...
          </span>

          <span *ngIf="jobCollection.value.hasFailedToLoad">
            Falha ao carregar - Tente mais tarde
          </span>
        </div>

        <span
          *ngIf="jobCollection.value.isLoading"
          class="loading loading-spinner"
        ></span>
        <i
          *ngIf="
            jobCollection.value.isLoading == false &&
            jobCollection.value.isLoaded == false &&
            jobCollection.value.hasFailedToLoad == false
          "
          class="bx bx-download"
        ></i>
        <i
          *ngIf="jobCollection.value.hasFailedToLoad"
          class="bx bxs-x-circle"
        ></i>
        <i *ngIf="jobCollection.value.isLoaded" class="bx bxs-check-circle"></i>
      </button>
    </div>
  </div>
</main>
