<div *ngIf="!hasSelectedVisualizationMode">
  <div class="flex w-full flex-col gap-4">
    <button
      class="btn btn-outline flex w-full h-auto items-center justify-between flex-nowrap"
      [ngClass]="{ 'btn-lg p-12': compactMode === false }"
      (click)="setVisualizationMode(visualizationModes.newJobs)"
    >
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2">
          <i class="bx bxs-hot"></i>
          <span class="text-xl">Vagas recentes</span>
        </div>

        <span *ngIf="compactMode === false" class="text-sm text-start"
          >Quero ver as vagas récem-publicadas e usar a Busca Fácil para submeter candidaturas
          rapidamente</span
        >
      </div>
    </button>

    <button
      class="btn btn-outline flex w-full h-auto items-center justify-between flex-nowrap"
      [ngClass]="{ 'btn-lg p-12': compactMode === false }"
      (click)="setVisualizationMode(visualizationModes.oldJobs)"
    >
      <div class="flex flex-col gap-2">
        <div class="flex items-center gap-2">
          <i class="bx bx-line-chart"></i>
          <span class="text-xl">Histórico de vagas</span>
        </div>

        <span *ngIf="compactMode === false" class="text-sm text-start"
          >Quero consultar o histórico de vagas para investigar padrões e tendências, além de
          compreender o momento do mercado</span
        >
      </div>
    </button>
  </div>
</div>

<div
  *ngIf="hasSelectedVisualizationMode && !hasSelectedJobSource"
  class="join flex join-vertical gap-2 mb-4"
>
  <button
    class="btn join-item flex w-full items-center justify-between"
    (click)="setSource(jobSources.gupy)"
  >
    <div class="flex items-center gap-2">
      <i class="bx bxs-business"></i>
      Gupy
    </div>

    <span class="bx bxs-chevron-right-circle"></span>
  </button>
  <button
    class="btn join-item flex w-full items-center justify-between"
    (click)="setSource(jobSources.github)"
  >
    <div class="flex items-center gap-2">
      <i class="bx bxl-github"></i>
      GitHub
    </div>

    <span class="bx bxs-chevron-right-circle"></span>
  </button>
  <button
    class="btn join-item flex w-full items-center justify-between"
    (click)="setSource(jobSources.linkedin)"
  >
    <div class="flex items-center gap-2">
      <i class="bx bxl-linkedin-square"></i>
      LinkedIn
    </div>

    <span class="bx bxs-chevron-right-circle"></span>
  </button>
</div>

<div
  *ngIf="
    hasSelectedJobSource &&
    !hasSelectedJobCollection &&
    selectedVisualizationMode === visualizationModes.newJobs
  "
  class="flex flex-col gap-4 rounded-box overflow-y-auto overflow-x-hidden max-h-52 pr-2"
>
  <div
    class="flex items-center gap-2"
    *ngFor="let jobCollection of selectedJobCollections | keyvalue"
  >
    <button class="btn btn-info btn-square" (click)="onInfoButtonClick(jobCollection.value)">
      <i class="bx bxs-info-circle"></i>
    </button>

    <div class="w-full">
      <button
        class="btn btn-accent w-full flex-nowrap justify-between relative"
        [ngClass]="{
          'btn-warning': jobCollection.value.newJobs.isSelected,
          'btn-disabled':
            jobCollection.value.newJobs.isDownloading ||
            jobCollection.value.newJobs.isLoading ||
            jobCollection.value.newJobs.hasFailedToLoad ||
            !jobCollection.value.newJobs.isQuarterAvailable
        }"
        (click)="toggleCollection(jobCollection.key)"
      >
        <div
          *ngIf="
            jobCollection.value.newJobs.isDownloading &&
            jobCollection.value.newJobs.canTrackDownloadProgress
          "
          class="absolute top-0 left-0 z-0 bg-accent h-full opacity-20 rounded-box"
          [ngStyle]="{
            width: jobCollection.value.newJobs.downloadingProgress | percent: '1.0-0'
          }"
        ></div>

        <div
          *ngIf="jobCollection.value.newJobs.isLoading"
          class="absolute top-0 left-0 z-0 bg-warning h-full opacity-20 rounded-box"
          [ngStyle]="{ width: jobCollection.value.newJobs.loadingProgress | percent: '1.0-0' }"
        ></div>

        <div class="flex items-center gap-2">
          <span
            *ngIf="
              !jobCollection.value.newJobs.isDownloading &&
              !jobCollection.value.newJobs.isLoading &&
              !jobCollection.value.newJobs.hasFailedToLoad
            "
            class="text-balance"
          >
            {{ jobCollection.value.name }}
          </span>

          <span
            *ngIf="
              jobCollection.value.newJobs.isDownloading &&
              jobCollection.value.newJobs.canTrackDownloadProgress
            "
          >
            Baixando vagas... ({{ jobCollection.value.newJobs.downloadingProgress | percent }})
          </span>

          <span
            *ngIf="
              jobCollection.value.newJobs.isDownloading &&
              !jobCollection.value.newJobs.canTrackDownloadProgress
            "
          >
            Baixando vagas...
          </span>

          <span *ngIf="jobCollection.value.newJobs.isLoading">
            Carregando dados... ({{ jobCollection.value.newJobs.loadingProgress | percent }})
          </span>

          <span *ngIf="jobCollection.value.newJobs.hasFailedToLoad">
            Falha ao carregar - Tente mais tarde
          </span>
        </div>

        <span
          *ngIf="jobCollection.value.newJobs.isLoading || jobCollection.value.newJobs.isDownloading"
          class="loading loading-spinner"
        ></span>
        <i
          *ngIf="
            jobCollection.value.newJobs.isDownloading === false &&
            jobCollection.value.newJobs.isLoading === false &&
            jobCollection.value.newJobs.isLoaded === false &&
            jobCollection.value.newJobs.hasFailedToLoad === false &&
            jobCollection.value.newJobs.isQuarterAvailable
          "
          class="bx bxs-plus-circle"
        ></i>
        <i *ngIf="jobCollection.value.newJobs.hasFailedToLoad" class="bx bxs-x-circle"></i>
        <i *ngIf="jobCollection.value.newJobs.isLoaded" class="bx bxs-check-circle"></i>
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="
    hasSelectedJobSource &&
    !hasSelectedJobCollection &&
    selectedVisualizationMode === visualizationModes.oldJobs
  "
  class="flex flex-col gap-4 rounded-box overflow-y-auto overflow-x-hidden max-h-52 pr-2"
>
  <div
    class="flex items-center gap-2"
    *ngFor="let jobCollection of selectedJobCollections | keyvalue"
  >
    <button class="btn btn-info btn-square" (click)="onInfoButtonClick(jobCollection.value)">
      <i class="bx bxs-info-circle"></i>
    </button>
    <div class="w-full">
      <button
        class="btn btn-accent w-full flex-nowrap justify-between"
        (click)="setCollection(jobCollection.key)"
      >
        <div class="flex items-center gap-2">
          <span class="text-balance">
            {{ jobCollection.value.name }}
          </span>
        </div>
      </button>
    </div>
  </div>
</div>

<div *ngIf="hasSelectedJobCollection && selectedVisualizationMode === visualizationModes.oldJobs">
  <div class="flex w-full items-center justify-between mb-4">
    <button
      class="btn btn-outline"
      [ngClass]="{
        'btn-disabled': selectedYear === 2024
      }"
      (click)="decreaseSelectedYear()"
    >
      <i class="bx bx-chevron-left"></i>
    </button>
    <span class="text-2xl font-bold"> {{ selectedYear }} </span>
    <button
      class="btn btn-outline"
      [ngClass]="{
        'btn-disabled': selectedYear === currentYear
      }"
      (click)="increaseSelectedYear()"
    >
      <i class="bx bx-chevron-right"></i>
    </button>
  </div>

  <div class="flex flex-col gap-4 overflow-x-hidden">
    <button
      *ngFor="let quarter of quarters | keyvalue"
      class="btn btn-accent w-full flex-nowrap justify-between relative"
      [ngClass]="{
        'btn-warning': quartersDataMap[quarter.value].isSelected,
        'btn-disabled':
          quartersDataMap[quarter.value].isDownloading ||
          quartersDataMap[quarter.value].isLoading ||
          quartersDataMap[quarter.value].hasFailedToLoad ||
          !quartersDataMap[quarter.value].isQuarterAvailable
      }"
      (click)="toggleQuarter(quarter.value)"
    >
      <div
        *ngIf="
          quartersDataMap[quarter.value].isDownloading &&
          quartersDataMap[quarter.value].canTrackDownloadProgress
        "
        class="absolute top-0 left-0 z-0 bg-accent h-full opacity-20 rounded-box"
        [ngStyle]="{ width: quartersDataMap[quarter.value].downloadingProgress | percent: '1.0-0' }"
      ></div>

      <div
        *ngIf="quartersDataMap[quarter.value].isLoading"
        class="absolute top-0 left-0 z-0 bg-warning h-full opacity-20 rounded-box"
        [ngStyle]="{ width: quartersDataMap[quarter.value].loadingProgress | percent: '1.0-0' }"
      ></div>

      <div class="flex items-center gap-2">
        <span
          class="text-balance"
          *ngIf="
            !quartersDataMap[quarter.value].isDownloading &&
            !quartersDataMap[quarter.value].isLoading &&
            !quartersDataMap[quarter.value].hasFailedToLoad
          "
        >
          <ng-container [ngSwitch]="quarter.value">
            <span *ngSwitchCase="quarters.Q1">1º Trimestre</span>
            <span *ngSwitchCase="quarters.Q2">2º Trimestre</span>
            <span *ngSwitchCase="quarters.Q3">3º Trimestre</span>
            <span *ngSwitchCase="quarters.Q4">4º Trimestre</span>
          </ng-container>
        </span>

        <span
          *ngIf="
            quartersDataMap[quarter.value].isDownloading &&
            quartersDataMap[quarter.value].canTrackDownloadProgress
          "
        >
          Baixando vagas... ({{ quartersDataMap[quarter.value].downloadingProgress | percent }})
        </span>

        <span
          *ngIf="
            quartersDataMap[quarter.value].isDownloading &&
            !quartersDataMap[quarter.value].canTrackDownloadProgress
          "
        >
          Baixando vagas...
        </span>

        <span *ngIf="quartersDataMap[quarter.value].isLoading">
          Carregando dados... ({{ quartersDataMap[quarter.value].loadingProgress | percent }})
        </span>

        <span *ngIf="quartersDataMap[quarter.value].hasFailedToLoad">
          Falha ao carregar - Tente mais tarde
        </span>
      </div>

      <span
        *ngIf="
          quartersDataMap[quarter.value].isLoading || quartersDataMap[quarter.value].isDownloading
        "
        class="loading loading-spinner"
      ></span>
      <i
        *ngIf="
          quartersDataMap[quarter.value].isDownloading === false &&
          quartersDataMap[quarter.value].isLoading === false &&
          quartersDataMap[quarter.value].isLoaded === false &&
          quartersDataMap[quarter.value].hasFailedToLoad === false &&
          quartersDataMap[quarter.value].isQuarterAvailable
        "
        class="bx bxs-plus-circle"
      ></i>
      <i *ngIf="quartersDataMap[quarter.value].hasFailedToLoad" class="bx bxs-x-circle"></i>
      <i *ngIf="quartersDataMap[quarter.value].isLoaded" class="bx bxs-check-circle"></i>
    </button>
  </div>
</div>

<dialog #jobCollectionInfoModal class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">{{ selectedJobCollectionInfo?.name }}</h3>

    <div class="flex flex-col mt-4 gap-4">
      <div class="flex flex-col flex-wrap gap-1">
        <header class="flex items-center gap-2">
          <i class="bx bxs-search"></i>
          <h3>Palavras-chave usadas na busca</h3>
        </header>
        <div class="flex flex-wrap gap-2">
          <div
            class="badge badge-neutral"
            *ngFor="let keyword of selectedJobCollectionInfo?.searchStringKeywords"
          >
            {{ keyword }}
          </div>
        </div>
      </div>

      <div class="flex flex-col flex-wrap gap-1">
        <header class="flex items-center gap-2">
          <i class="bx bxs-calendar"></i>
          <h3>Data de início da coleta diária</h3>
        </header>
        <div class="flex font-bold gap-2">
          <span>{{ selectedJobCollectionInfo?.initialDailyFetchDate }}</span>
        </div>
      </div>
    </div>

    <div class="modal-action">
      <form method="dialog" class="w-full">
        <button class="btn w-full">
          <i class="bx bx-arrow-back"></i>
          Voltar
        </button>
      </form>
    </div>
  </div>
</dialog>
