<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 m-4">
  <div class="flex flex-col gap-4 h-min">
    <div
      class="card card-bordered card-compact w-full bg-base-100 shadow-xl h-min"
    >
      <div class="card-title items-center justify-between p-4">
        <div class="flex items-center gap-2">
          <i class="bx bxs-map-alt"></i>
          <h1>Vagas por {{ dataTypeTranslations[dataType] }}</h1>
        </div>
        <details class="dropdown">
          <summary class="m-1 btn">Mudar visualização</summary>
          <div
            class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52"
          >
            <button (click)="changeDataType('city')" class="btn btn-ghost">
              Cidades
            </button>
            <button (click)="changeDataType('state')" class="btn btn-ghost">
              Estados
            </button>
            <button (click)="changeDataType('map')" class="btn btn-ghost">
              Mapa nacional
            </button>
          </div>
        </details>
      </div>

      <ng-container [ngSwitch]="dataType">
        <div class="card-body">
          <ng-container *ngSwitchCase="'map'" #nationalMap>
            <vgm-brazil-map
              (stateClicked)="onStateClicked($event)"
            ></vgm-brazil-map>
          </ng-container>

          <ng-container *ngSwitchCase="'city'" #citiesList>
            <div class="card-body gap-2 max-h-96 overflow-y-auto">
              <button
                class="btn btn-ghost"
                *ngFor="
                  let city of citiesRank$ | async;
                  index as i;
                  trackBy: trackByCity
                "
                [ngClass]="{ 'btn-active': selectedCity == city.name }"
                (click)="onCityClicked(city.name)"
              >
                <div class="w-full flex justify-between">
                  <span>{{
                    i +
                      1 +
                      ". " +
                      city.name +
                      ", " +
                      (city.state | stateAbbreviation)
                  }}</span>
                  <span>{{ city.count }}</span>
                </div>
                <progress
                  class="progress w-full"
                  [value]="city.count"
                  [max]="citiesQuantity"
                ></progress>
              </button>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="'state'" #statesList>
            <div class="card-body gap-2 max-h-96 overflow-y-auto">
              <button
                class="btn btn-ghost"
                *ngFor="
                  let state of statesRank$ | async;
                  index as i;
                  trackBy: trackByState
                "
                [ngClass]="{ 'btn-active': selectedState == state.name }"
                (click)="onStateClicked(state.name)"
              >
                <div class="w-full flex justify-between">
                  <span>{{ i + 1 + ". " + state.name }}</span>
                  <span>{{ state.count }}</span>
                </div>
                <progress
                  class="progress w-full"
                  [value]="state.count"
                  [max]="statesQuantity"
                ></progress>
              </button>
            </div>
          </ng-container>

          <ng-container *ngSwitchDefault #loading>
            <div class="skeleton h-96 w-full"></div>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <div
      class="card card-bordered card-compact w-full bg-base-100 shadow-xl flex flex-col gap-4 h-min"
    >
      <div class="card-title items-center p-4">
        <i class="bx bxs-calendar"></i>
        <h1>
          Vagas publicadas em
          {{ dataType == "city" ? selectedCity : selectedState }} ao longo do
          tempo
        </h1>
      </div>

      <div class="card-body">
        <vgm-publication-chart
          [jobs$]="dataType == 'city' ? jobsByCity$ : jobsByState$"
        ></vgm-publication-chart>
      </div>
    </div>
  </div>

  <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
    <div class="card-title p-4">
      <h1>
        Sobre as vagas em
        {{ dataType == "city" ? selectedCity : selectedState }}
      </h1>
    </div>

    <div class="card-body">
      <section *ngIf="dataType != 'city'">
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-map"></i>
          <h3>Cidades com mais vagas</h3>
        </div>
        <vgm-cities-rank [jobs$]="jobsByState$"></vgm-cities-rank>
      </section>

      <div *ngIf="dataType != 'city'" class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-chip"></i>
          <h3>Tecnologias em alta</h3>
        </div>
        <vgm-keywords-rank
          [jobs$]="dataType == 'city' ? jobsByCity$ : jobsByState$"
        ></vgm-keywords-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-business"></i>
          <h3>Empresas que mais contratam</h3>
        </div>
        <vgm-companies-rank
          [jobs$]="dataType == 'city' ? jobsByCity$ : jobsByState$"
        ></vgm-companies-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-user-detail"></i>
          <h3>Níveis de experiência mais requisitados</h3>
        </div>
        <vgm-experience-levels-rank
          [jobs$]="dataType == 'city' ? jobsByCity$ : jobsByState$"
        ></vgm-experience-levels-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-briefcase"></i>
          <h3>Tipos de vagas</h3>
        </div>
        <vgm-type-rank
          [jobs$]="dataType == 'city' ? jobsByCity$ : jobsByState$"
        ></vgm-type-rank>
      </section>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="flex items-center justify-center mb-4">
  <div class="card card-bordered card-compact w-min bg-base-100 shadow-xl">
    <div class="card-title justify-between p-4">
      <h1>Vagas consideradas nos dados acima</h1>
      <span
        >Total:
        {{
          (((dataType == "city" ? jobsByCity$ : jobsByState$) | async) || [])
            .length
        }}
        vagas</span
      >
    </div>

    <div class="card-body overflow-y-hidden">
      <vgm-job-list
        [jobs$]="dataType == 'city' ? jobsByCity$ : jobsByState$"
      ></vgm-job-list>
    </div>
  </div>
</div>
