<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 m-4">
  <div class="flex flex-col gap-4 h-min">
    <div
      class="card card-bordered card-compact w-full bg-base-100 shadow-xl h-min"
    >
      <div class="card-title items-center p-4">
        <i class="bx bxs-map-alt"></i>
        <h1>Vagas por estado</h1>
      </div>
      <div class="card-body">
        <ng-container *ngIf="jobsByState$ | async; else loading">
          <vgm-brazil-map
            (stateClicked)="onStateClicked($event)"
          ></vgm-brazil-map>
        </ng-container>

        <ng-template #loading>
          <div class="skeleton h-96 w-full"></div>
        </ng-template>
      </div>
    </div>

    <div
      class="card card-bordered card-compact w-full bg-base-100 shadow-xl flex flex-col gap-4 h-min"
    >
      <div class="card-title items-center p-4">
        <i class="bx bxs-calendar"></i>
        <h1>Vagas publicadas em {{ selectedState }} ao longo do tempo</h1>
      </div>

      <div class="card-body">
        <vgm-publication-chart [jobs$]="jobsByState$"></vgm-publication-chart>
      </div>
    </div>
  </div>

  <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
    <div class="card-title p-4">
      <h1>Sobre as vagas em {{ selectedState }}</h1>
    </div>

    <div class="card-body">
      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-map"></i>
          <h3>Cidades com mais vagas</h3>
        </div>
        <vgm-cities-rank [jobs$]="jobsByState$"></vgm-cities-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-chip"></i>
          <h3>Tecnologias em alta</h3>
        </div>
        <vgm-keywords-rank [jobs$]="jobsByState$"></vgm-keywords-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-business"></i>
          <h3>Empresas que mais contratam</h3>
        </div>
        <vgm-companies-rank [jobs$]="jobsByState$"></vgm-companies-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-user-detail"></i>
          <h3>Níveis de experiência mais requisitados</h3>
        </div>
        <vgm-experience-levels-rank
          [jobs$]="jobsByState$"
        ></vgm-experience-levels-rank>
      </section>

      <div class="divider"></div>

      <section>
        <div class="flex items-center gap-2 mb-2">
          <i class="bx bxs-briefcase"></i>
          <h3>Tipos de vagas</h3>
        </div>
        <vgm-type-rank [jobs$]="jobsByState$"></vgm-type-rank>
      </section>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="flex items-center justify-center mb-4">
  <div class="card card-bordered card-compact w-min bg-base-100 shadow-xl">
    <div class="card-title justify-between p-4">
      <h1>Vagas consideradas nos dados acima</h1>
      <span>Total: {{ ((jobsByState$ | async) || []).length }} vagas</span>
    </div>

    <div class="card-body overflow-y-hidden">
      <vgm-job-list [jobs$]="jobsByState$"></vgm-job-list>
    </div>
  </div>
</div>
