<div class="flex align-center justify-center flex-col mb-4">
  <vgm-job-count></vgm-job-count>
  <vgm-publication-chart></vgm-publication-chart>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 m-2">
    <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-user-detail"></i>
            <h2 class="card-title">Rank de níveis de experiência</h2>
          </div>
          <a class="link" [routerLink]="['/niveis']">Ver mais</a>
        </div>
        <vgm-experience-levels-rank [rankSize]="5"></vgm-experience-levels-rank>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-home"></i>
            <h2 class="card-title">Rank de modalidades</h2>
          </div>
          <a class="link" [routerLink]="['/modalidades']">Ver mais</a>
        </div>
        <vgm-workplace-rank></vgm-workplace-rank>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-chip"></i>
            <h2 class="card-title">Rank de tecnologias</h2>
          </div>
          <a class="link" [routerLink]="['/tecnologias']">Ver mais</a>
        </div>
        <vgm-keywords-rank [rankSize]="5"></vgm-keywords-rank>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-business"></i>
            <h2 class="card-title">Rank de empresas</h2>
          </div>
          <a class="link" [routerLink]="['/empresas']">Ver mais</a>
        </div>
        <vgm-companies-rank [rankSize]="5"></vgm-companies-rank>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-briefcase"></i>
            <h2 class="card-title">Rank de tipos</h2>
          </div>
          <a class="link" [routerLink]="['/tipos']">Ver mais</a>
        </div>
        <vgm-type-rank [rankSize]="5"></vgm-type-rank>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bx-accessibility"></i>
            <h2 class="card-title">Rank PCD</h2>
          </div>
          <a class="link" [routerLink]="['/pcd']">Ver mais</a>
        </div>
        <vgm-disability-rank></vgm-disability-rank>
      </div>
    </div>

    <div class="card card-bordered card-compact w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-map"></i>
            <h2 class="card-title">Rank de cidades</h2>
          </div>
          <a class="link" [routerLink]="['/cidades']">Ver mais</a>
        </div>
        <vgm-cities-rank [rankSize]="5"></vgm-cities-rank>
        <p class="text-xs text-slate-500">
          Considerando apenas vagas presenciais e híbridas
        </p>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="flex items-center justify-center">
    <div
      class="card card-bordered card-compact w-full lg:w-1/2 bg-base-100 shadow-xl"
    >
      <div class="card-title justify-between p-4">
        <h1>Vagas consideradas nos dados acima</h1>
        <span>Total: {{ ((jobs$ | async) || []).length }} vagas</span>
      </div>

      <div class="card-body overflow-y-hidden">
        <vgm-job-list [jobs$]="jobs$"></vgm-job-list>
      </div>
    </div>
  </div>
</div>
