<div class="flex align-center justify-center flex-col mb-4">
  <vgm-job-count></vgm-job-count>
  <vgm-publication-chart></vgm-publication-chart>

  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 m-2">
    <div class="card w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-map"></i>
            <h2 class="card-title">Rank de cidades</h2>
          </div>
          <a class="link" [routerLink]="['/cidades']">Ver mais</a>
        </div>
        <vgm-cities-rank [rankSize]="5"></vgm-cities-rank>
      </div>
    </div>

    <div class="card w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-home"></i>
            <h2 class="card-title">Rank de modalidades</h2>
          </div>
          <a class="link" [routerLink]="['/modalidades']">Ver mais</a>
        </div>
        <vgm-workplace-rank></vgm-workplace-rank>
      </div>
    </div>

    <div class="card w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-chip"></i>
            <h2 class="card-title">Rank de tecnologias</h2>
          </div>
          <span>Ver mais</span>
        </div>
        <vgm-keywords-rank [rankSize]="5"></vgm-keywords-rank>
      </div>
    </div>

    <div class="card w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-business"></i>
            <h2 class="card-title">Rank de empresas</h2>
          </div>
          <span>Ver mais</span>
        </div>
        <vgm-companies-rank [rankSize]="5"></vgm-companies-rank>
      </div>
    </div>

    <div class="card w-full bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-1">
            <i class="bx bxs-briefcase"></i>
            <h2 class="card-title">Rank de tipos</h2>
          </div>
          <span>Ver mais</span>
        </div>
        <vgm-type-rank></vgm-type-rank>
      </div>
    </div>
  </div>
</div>
