<ng-container *ngIf="companiesRank$ | async as companiesRank; else loading">
  <div class="overflow-x-auto w-full">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Empresa</th>
          <th>Vagas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let company of companiesRank; index as i">
          <th>{{ i + 1 }}</th>
          <td>
            <a class="link" [href]="company.link" target="_blank">{{
              company.name | titlecase
            }}</a>
          </td>
          <td>{{ company.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-template #loading>
  <div class="flex items-center justify-center">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
</ng-template>
