<ng-container *ngIf="rankData$ | async as rank; else loading">
  <div class="card w-full h-full bg-base-300">
    <div class="card-body">
      <h2 class="card-title">
        <i [class]="rankMetaData.icon"></i>
        <span> {{ rankMetaData.name }} </span>
      </h2>

      <main class="overflow-x-auto max-h-96 w-full mb-4">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>{{ rankMetaData.dataColumnName }}</th>
              <th>Vagas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of rank; index as i">
              <th>{{ i + 1 }}</th>
              <td class="relative">
                <div
                  class="absolute top-0 left-0 z-0 bg-blue-500 h-full opacity-20"
                  [ngStyle]="{ width: item.percentage | percent: '1.0-0' }"
                ></div>

                <ng-container *ngIf="item.link === undefined; else itemWithLinkTemplate">
                  <span class="z-10">{{ item.name }}</span>
                </ng-container>

                <ng-template #itemWithLinkTemplate>
                  <a class="link" [href]="item.link" target="_blank">{{ item.name }}</a>
                </ng-template>
              </td>
              <td class="flex items-center flex-wrap gap-2">
                <span>{{ item.count | number }}</span>
                <span class="text-gray-600">({{ item.percentage | percent: "1.0-0" }})</span>
              </td>
            </tr>
          </tbody>
        </table>
      </main>

      <footer class="card-actions mt-auto w-full">
        <button class="btn btn-neutral w-full" [routerLink]="[rankMetaData.routerLink]">
          <i class="bx bx-search"></i>
          <span>Ver detalhes</span>
        </button>
      </footer>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <div class="flex flex-col w-full gap-4 mt-4">
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
    <div class="skeleton h-8 w-full"></div>
  </div>
</ng-template>
